<!--{modtemplate admin/template/adm_header}-->

<div class="main_cont">

	<!--导航开始-->
	<!--{modtemplate admin/template/menu_nav}-->
	<!--导航结束-->

	<!--内容列表开始-->
	<div class="cont_z">
		<div class="cont_li_p1">
			<span class="c_l">{$result_str}</span> <span class="c_l c_ml5px"><a
				href="javascript:;" onclick="gourl('{$backurl}')">{lang
					common:refresh}{lang common:search}</a></span>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>
	<!--内容列表结束-->

	<div class="clr"></div>
</div>

<!--{modtemplate admin/template/adm_footer}-->