@charset "utf-8";
/* CSS Document */
.cuser_center { width:1200px; margin:auto; margin-top:20px; padding-bottom:50px; }
	.cuser_center .cuser_z { float:left; width:200px; }
		.cuser_center .cuser_z .ul-item {  }
			.cuser_center .cuser_z .ul-item li { line-height:40px; }
				.cuser_center .cuser_z .ul-item li a { font-size:16px; text-indent:16px; display:block; }
				.cuser_center .cuser_z .ul-item li a:hover { color:#F00; background:#F5F3F1; }
				.cuser_center .cuser_z .ul-item li a.on { color:#F00; background:#F5F3F1; }
	
	
	
	.cuser_center .cuser_y { float:right; width:980px; }
		.cuser_center .cuser_y .yes_empty { padding:10px; background:#FCFCFC; color:#999; }
		
		.cuser_center .cuser_y .holder-box { float:left; }
		.cuser_center .cuser_y .split { float:left; padding:0px 3px; }
		
		.cuser_center .cuser_y .label { line-height:24px; padding-bottom:10px; }
			.cuser_center .cuser_y .label a { font-size:16px; color:#900; }
			.cuser_center .cuser_y .label .tit { font-size:16px; }
			.cuser_center .cuser_y .label .add { margin-left:10px; font-size:16px; color:#900; }
		
		.cuser_center .cuser_y .tttc { height:24px; line-height:24px; padding:10px 0px; }
			.cuser_center .cuser_y .tttc em { padding:0px 3px; color:#F00; font-weight:bold; }
			
		.cuser_center .cuser_y .light { line-height:24px; padding-bottom:10px; font-size:12px; }
			.cuser_center .cuser_y .light .t1 { background:url(../../common/image/light.png) no-repeat left center; padding-left:18px; font-weight:bold; }
			.cuser_center .cuser_y .light .t2 { padding-left:18px; }
				.cuser_center .cuser_y .light .t2 em { color:#F30; padding-right:5px; }
		
	.cuser_center .cuser_y .datas { width:100%; padding-bottom:10px; }
		.cuser_center .cuser_y .datas table.tbox { width: 100%; }
			.cuser_center .cuser_y .datas .tbox tr.trow-bg { background:#eee; }
			.cuser_center .cuser_y .datas .tbox tr.trow-def {  }
			.cuser_center .cuser_y .datas .tbox tr.trow-fw { font-weight: bold; }
			.cuser_center .cuser_y .datas .tbox tr.trow-hover:hover { background:#F9F9F9; }
			.cuser_center .cuser_y .datas .tbox tr.trow-bline {  }
				.cuser_center .cuser_y .datas .tbox tr.trow-bline td { border-bottom: 1px solid #eee; }
			.cuser_center .cuser_y .datas .tbox tr td { padding: 5px; margin: auto; }
				.cuser_center .cuser_y .datas .tbox tr td.cb a { color:#03F; }
				.cuser_center .cuser_y .datas .tbox tr td.cb a:hover { text-decoration:underline; }
				.cuser_center .cuser_y .datas .tbox tr td .ns { margin-left: 4px; font-size: 12px; }
			.cuser_center .cuser_y .datas .tbox tr td.ops a { margin-right:10px; }
			
		.cuser_center .cuser_y .datas .score_s201 { background:url(../../common/image/11.png) right center no-repeat; padding-right:18px; color:#F00; }
		.cuser_center .cuser_y .datas .score_s202 { background:url(../../common/image/12.png) right center no-repeat; padding-right:18px; color:#090; }
			.cuser_center .cuser_y .datas .btns { padding:10px 0px; height:30px; }
				.cuser_center .cuser_y .datas .btns .btns_qx { float:left; margin-right:8px; color:#06C; cursor:pointer; }
				.cuser_center .cuser_y .datas .btns .btns_qx:hover { color:#06C; text-decoration:underline; }
				.cuser_center .cuser_y .datas .btns .btns_201 { float:left; height:28px; line-height:26px; margin-right:8px; padding:0px 5px; cursor:pointer; }
		
		.cuser_center .cuser_y .auth_log { border-top: 1px solid #eee; padding-bottom:20px; background:#FCFCFC; }
			.cuser_center .cuser_y .auth_log .log_is { float:left; width:280px; height:80px; margin-top:20px; margin-left:20px; padding:10px; background-color: #fff; border: solid 1px #c9c7c8\0; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); overflow:hidden; }
			.cuser_center .cuser_y .auth_log .log_is:hover { background:#F9F9F9; }
				.cuser_center .cuser_y .auth_log .log_is .icon { float:left; width:80px; height:80px; }
					.cuser_center .cuser_y .auth_log .log_is .icon img { width:100%; height:100%; }
				.cuser_center .cuser_y .auth_log .log_is .tdc { float:left; width:190px; margin-left:10px; line-height:24px; }
					.cuser_center .cuser_y .auth_log .log_is .tdc .tdc1 { width:100%; height:24px; font-weight:bold; overflow:hidden; }
					.cuser_center .cuser_y .auth_log .log_is .tdc .tdc2 { width:100%; height:24px; font-size:12px; color:#666; overflow:hidden; }
					.cuser_center .cuser_y .auth_log .log_is .tdc .tdc3 { width:100%; height:24px; font-size:12px; color:#666; overflow:hidden; }
			
	.cuser_center .cuser_y .form-item { width:100%; }
		.cuser_center .cuser_y .form-item ul.form-box li { padding:5px 0px; }
			.cuser_center .cuser_y .form-item ul.form-box li .lab { float:left; width:80px; line-height:24px; }
			.cuser_center .cuser_y .form-item ul.form-box li .inp { float:left; }
				.cuser_center .cuser_y .form-item ul.form-box li .inp .it { width:240px; height:24px; line-height:24px; margin-left:5px; text-indent:3px; outline:none; }
				.cuser_center .cuser_y .form-item ul.form-box li .inp .icc {padding-right:12px; cursor:pointer; }
				.cuser_center .cuser_y .form-item ul.form-box li .inp .icc-icon { background:url(../../common/image/7.gif) no-repeat right center; }
			.cuser_center .cuser_y .form-item ul.form-box li .checkboxs { float:left; }
				.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a { float:left; margin-right:10px; padding:0px 5px; border:1px solid #CCC; border-radius:3px; outline:none; display:block; }
				.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a:hover { border:1px solid #666; }
				.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a.mt { margin-top:10px; }
					.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a em { padding-right:13px; background:url(../../common/image/15.png) no-repeat right center; display:block; }
					.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a.on { border:1px solid #f15204; }
					.cuser_center .cuser_y .form-item ul.form-box li .checkboxs a.on em { background:url(../../common/image/16.png) no-repeat right center; }
					.cuser_center .cuser_y .form-item ul.form-box li .checkboxs input.zp_ck { position:absolute; top:-1000px; left:1000px; }
				.cuser_center .cuser_y .form-item ul.form-box li .checkboxs .empty { color:#999; }
				
				.cuser_center .cuser_y .form-item ul.form-box li .inp .t-des { margin-left:5px; color:#F00; font-size:12px; }
			.cuser_center .cuser_y .form-item ul.form-box li .btns { padding:10px 0px; }
				.cuser_center .cuser_y .form-item ul.form-box li .btns .btn { padding:3px 20px; line-height:30px; background:#F00; border:none; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }
				
				
	.cuser_center .cuser_y .company-tab-hd { width:100%; padding-bottom:5px; border-bottom: 1px solid #eee; }
		.cuser_center .cuser_y .company-tab-hd a { float:left; width:100px; line-height:28px; margin-right:5px; border-radius:3px; text-align:center; display:block; }
		.cuser_center .cuser_y .company-tab-hd a:hover { color:#f00; background:#F5F3F1; }
		.cuser_center .cuser_y .company-tab-hd a.on { color:#fff; background:#666; }
		
	.cuser_center .cuser_y .company-tab-bd { width:100%; margin-top:10px; }
		.cuser_center .cuser_y .company-tab-bd .bd-box {  }
		.cuser_center .cuser_y .company-tab-bd .bd-box-none { display:none; }
			.cuser_center .cuser_y .company-tab-bd .bd-box ul li { padding:8px 0px; }
			.cuser_center .cuser_y .company-tab-bd .bd-box ul li.bline { border-bottom:1px solid #F2F2F2; }
				.cuser_center .cuser_y .company-tab-bd .bd-box .btn-ok { padding:3px 20px; line-height:30px; background:#F00; border:none; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }
				.cuser_center .cuser_y .company-tab-bd .bd-box .btn-cancel { padding:3px 20px; line-height:30px; margin-left:10px; background:#CCC; border:none; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }
				
				
				.cuser_center .cuser_y .company-tab-bd .bd-box ul li .nn { float:left; width:80px; line-height:24px; }
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .mt8 { margin-top:8px; }
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .mr8 { margin-right:8px; }
						
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii { float:left; line-height:24px; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .fdel a { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .gr { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .gb { color:#090; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .sel { height:24px; line-height:24px; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-calendar { width:240px; height:24px; line-height:24px; text-indent:18px; outline:none; border:1px solid #ccc; background:url(../../common/image/calendar.png) no-repeat 2px center; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp { width:240px; height:24px; line-height:24px; text-indent:3px; outline:none; border:1px solid #ccc; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp2 { width:80px; height:24px; line-height:24px; text-indent:3px; outline:none; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp3 { width:160px; height:24px; line-height:24px; text-indent:3px; outline:none; }
				
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area { float:left; width:280px; line-height:26px; position:relative; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-file { position:absolute; top:0px; left:0px; width:280px; height:26px; outline:none; cursor:pointer; display:block; background:#fff; filter: alpha(opacity = 0.00001); -moz-opacity: 0.00001; -khtml-opacity: 0.00001; opacity: 0.00001; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-txt { width:211px; height:24px; line-height:24px; border:1px solid #eee; background:noe; outline:none; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-btn { width:60px; height:26px; line-height:26px; margin-left:5px; background:#999; border-radius:3px; border:none; color:#fff; font-size:14px; font-weight:bold; }
						
						
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-c { width:280px; height:220px; line-height:24px; padding:8px; border:1px solid #eee; overflow-x:hidden; overflow-y:auto; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort { float:left; }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort a {  }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort a.on { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .s-to { float:left; height:24px; padding:5px 8px; margin-top:80px; color:#33F; font-weight:bold; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .selected-sort { float:left; }
						
		.cuser_center .cuser_y .txt-message { width:100%; padding-bottom:5px; line-height:24px; font-size:12px; }
			.cuser_center .cuser_y .txt-message .fsb { background:url(../../common/image/light.png) no-repeat left center; text-indent:18px; font-weight:bold; }
			.cuser_center .cuser_y .txt-message .fc { text-indent:18px; }
			
			
	/* company-tab-avatar */		
	.cuser_center .cuser_y .company-tab-avatar { border:1px solid #eee; padding:30px; background:#FCFCFC; }
		.cuser_center .cuser_y .company-tab-avatar .isbox { height:500px; }
			.cuser_center .cuser_y .company-tab-avatar .isbox .uploadbox { float:left; width:260px; height:28px; position:relative; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .file { position:absolute; left:0px; top:0px; width:260px; height:28px; outline:none; cursor:pointer; filter: alpha(opacity = 0.00001); -moz-opacity: 0.00001; -khtml-opacity: 0.00001; opacity: 0.00001; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .name { width:158px; height:24px; line-height:24px; padding:0px 5px; border:1px solid #ccc; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .up { float:right; width:85px; height:28px; line-height:28px; text-align:center; outline:none; background:url(../../common/image/bt101.gif) no-repeat left center; border:none; color:#f2f2f2; }
				
			.cuser_center .cuser_y .company-tab-avatar .isbox .preview01 { height:280px; margin-top:15px; display:none; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .preview01 .isrc01 { float:left; width:500px; height:180px; overflow:hidden; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .preview01 .s_btn_box { margin-top:15px; width:500px; text-align:center; }
					.cuser_center .cuser_y .company-tab-avatar .isbox .preview01 .s_btn_box .s_btn { padding:8px 15px; cursor:pointer; }
				
			.cuser_center .cuser_y .company-tab-avatar .isbox .view01 { float:left; width:200px; margin-top:15px; display:none; }
				.cuser_center .cuser_y .company-tab-avatar .isbox .view01 .re_upload { margin-top:10px; text-align:center; }
					.cuser_center .cuser_y .company-tab-avatar .isbox .preview01 .view01 .re_upload .re_btn { padding:4px 15px; cursor:pointer; }
			
		/* answer-read */
		.cuser_center .cuser_y .answer-read {  }
			.cuser_center .cuser_y .answer-read ul.ar-box li { padding:10px; border-bottom:1px solid #eee; }
			.cuser_center .cuser_y .answer-read ul.ar-box li:hover { background:#F9F9F9; }
				.cuser_center .cuser_y .answer-read ul.ar-box li .tn { height:30px; line-height:30px; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .tn .nn { float:left; color:#00C; font-weight:bold; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .tn .nm { padding-left:40px; font-weight:bold; }
						.cuser_center .cuser_y .answer-read ul.ar-box li .tn .nm .tname { margin-left:10px; color:#00C; font-weight:bold; }
						.cuser_center .cuser_y .answer-read ul.ar-box li .tn .nm .fsz { margin-left:20px; padding-top:8px; padding-bottom:8px; }
						
				.cuser_center .cuser_y .answer-read ul.ar-box li .ti { padding:5px 0px 5px 40px; line-height:24px; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .ti .single-text { width:420px; height:28px; line-height:26px; text-indent:3px; outline:none; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .ti .multi-text { width:420px; height:100px; line-height:18px; text-indent:3px; outline:none; overflow-x:hidden; overflow-y:auto; }
						.cuser_center .cuser_y .answer-read ul.ar-box li .ti .obox { float:left; padding:0px 5px; cursor:pointer; }
						.cuser_center .cuser_y .answer-read ul.ar-box li .ti .obox:hover { background:#E0E0E0; border-radius:3px; }
							.cuser_center .cuser_y .answer-read ul.ar-box li .ti .obox .onn { padding-right:5px; }
							.cuser_center .cuser_y .answer-read ul.ar-box li .ti .obox .ott { padding-right:5px; }
								.cuser_center .cuser_y .answer-read ul.ar-box li .ti .obox .ott em { padding:0px 3px; }
								
				.cuser_center .cuser_y .answer-read ul.ar-box li .tas { padding:5px 0px 5px 40px; line-height:24px; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .tas .as1 { float:left; font-weight:bold; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .tas .as2 { float:left; margin-left:20px; font-weight:bold; }
					.cuser_center .cuser_y .answer-read ul.ar-box li .tas .as3 { float:left; margin-left:20px; }
					
			.cuser_center .cuser_y .answer-read .btn-box { width:100%; margin-top:20px; padding-bottom:30px; text-align:center; }
				.cuser_center .cuser_y .answer-read .btn-box .ok { line-height:28px; padding:5px 30px; border-radius:3px; cursor:pointer; font-size:16px; color:#fff; letter-spacing:1px; font-weight:bold; background:#F00; border:none; outline:none; }
				.cuser_center .cuser_y .answer-read .btn-box .fq { line-height:28px; margin-left:20px; padding:5px 30px; border-radius:3px; cursor:pointer; font-size:16px; color:#666; letter-spacing:1px; font-weight:bold; background:#E6E6E6; border:none; outline:none; }
			
			
/* zplx_write_wrap */
.zplx_write_wrap { display:none; }
.zplx_write { padding:0px 20px; }
	.zplx_write ul.zplx_box { }
		.zplx_write ul.zplx_box li { padding:5px 0px; border-bottom:1px solid #eee; }
		.zplx_write ul.zplx_box li.nb { border-bottom:none; }
			.zplx_write ul.zplx_box li .tit { line-height:24px; font-weight:bold; }
			.zplx_write ul.zplx_box li .inp { }
				.zplx_write ul.zplx_box li .inp .ft { width:240px; height:24px; line-height:24px; padding:0px 3px; border:1px solid #ccc; outline:none; }
				.zplx_write ul.zplx_box li .inp .ft2 { width:50px; height:24px; line-height:24px; padding:0px 3px; border:1px solid #ccc; outline:none; }
				.zplx_write ul.zplx_box li .inp .split { padding:0px 3px; color:#999; }
				
				
				
				
				

			
			
					
			
		

