@charset "utf-8";
/* CSS Document */

.user-center-header { width:100%; border-bottom:1px solid #eee; background:#F6F6F6; }
	.user-center-header .m { width:1200px; margin:auto; line-height:35px; }
		.user-center-header .m .uch-z {  }
			.user-center-header .m .uch-z a { margin-right:10px; }


.cuser_center { width:1200px; margin:auto; margin-top:20px; padding-bottom:50px; }

	.cuser_center .cuser_z { float:left; width:200px; }
		.cuser_center .cuser_z .ul-item {  }
			.cuser_center .cuser_z .ul-item li { line-height:40px; }
				.cuser_center .cuser_z .ul-item li a { font-size:16px; text-indent:16px; display:block; }
				.cuser_center .cuser_z .ul-item li a:hover { color:#F00; background:#F5F3F1; }
				.cuser_center .cuser_z .ul-item li a.on { color:#F00; background:#F5F3F1; }
	
	
	
	.cuser_center .cuser_y { float:right; width:980px; }
		.cuser_center .cuser_y .holder-box { float:left; }
		.cuser_center .cuser_y .split { float:left; padding:0px 3px; }
		
		.cuser_center .cuser_y .label { line-height:24px; padding-bottom:15px; }
			.cuser_center .cuser_y .label a { font-size:16px; color:#900; }
	
	.cuser_center .cuser_y .datas { width:100%; padding-bottom:10px; }
		.cuser_center .cuser_y .datas table.tbox { width: 100%; }
			.cuser_center .cuser_y .datas .tbox tr.trow-bg { background:#eee; }
			.cuser_center .cuser_y .datas .tbox tr.trow-def {  }
			.cuser_center .cuser_y .datas .tbox tr.trow-fw { font-weight: bold; }
			.cuser_center .cuser_y .datas .tbox tr.trow-hover:hover { background:#F9F9F9; }
			.cuser_center .cuser_y .datas .tbox tr.trow-bline {  }
				.cuser_center .cuser_y .datas .tbox tr.trow-bline td { border-bottom: 1px solid #eee; }
			.cuser_center .cuser_y .datas .tbox tr td { padding: 5px; margin: auto; }
				.cuser_center .cuser_y .datas .tbox tr td.cb a { color:#03F; }
				.cuser_center .cuser_y .datas .tbox tr td.cb a:hover { text-decoration:underline; }
				.cuser_center .cuser_y .datas .tbox tr td .ns { margin-left: 4px; font-size: 12px; }
			.cuser_center .cuser_y .datas .tbox tr td.ops a { margin-right:10px; }
			
			
	.cuser_center .cuser_y .form-item { width:100%; }
		.cuser_center .cuser_y .form-item ul.form-box li { padding:5px 0px; }
			.cuser_center .cuser_y .form-item ul.form-box li .lab { float:left; width:80px; line-height:24px; }
			.cuser_center .cuser_y .form-item ul.form-box li .inp { float:left; }
				.cuser_center .cuser_y .form-item ul.form-box li .inp .it { width:240px; height:24px; line-height:24px; text-indent:3px; outline:none; }
			.cuser_center .cuser_y .form-item ul.form-box li .btns { padding:10px 0px; }
				.cuser_center .cuser_y .form-item ul.form-box li .btns .btn { padding:3px 20px; line-height:30px; background:#F00; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }
				
				
	.cuser_center .cuser_y .company-tab-hd { width:100%; padding-bottom:5px; border-bottom: 1px solid #eee; }
		.cuser_center .cuser_y .company-tab-hd a { float:left; width:100px; line-height:28px; margin-right:5px; border-radius:3px; text-align:center; display:block; }
		.cuser_center .cuser_y .company-tab-hd a:hover { color:#f00; background:#F5F3F1; }
		.cuser_center .cuser_y .company-tab-hd a.on { color:#fff; background:#666; }
		
	.cuser_center .cuser_y .company-tab-bd { width:100%; margin-top:10px; }
		.cuser_center .cuser_y .company-tab-bd .bd-box {  }
		.cuser_center .cuser_y .company-tab-bd .bd-box-none { display:none; }
			.cuser_center .cuser_y .company-tab-bd .bd-box ul li { padding:8px 0px; }
			.cuser_center .cuser_y .company-tab-bd .bd-box ul li.bline { border-bottom:1px solid #F2F2F2; }
				.cuser_center .cuser_y .company-tab-bd .bd-box .btn-ok { padding:3px 20px; line-height:30px; background:#F00; border-radius:3px; color:#fff; font-size:16px; font-weight:bold; cursor:pointer; }
				
				.cuser_center .cuser_y .company-tab-bd .bd-box ul li .nn { float:left; width:80px; line-height:24px; }
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .mt8 { margin-top:8px; }
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .mr8 { margin-right:8px; }
						
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii { float:left; line-height:24px; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .fdel a { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .gr { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .gb { color:#090; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .sel { height:24px; line-height:24px; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp { width:240px; height:24px; line-height:24px; text-indent:3px; outline:none; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp2 { width:80px; height:24px; line-height:24px; text-indent:3px; outline:none; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .ii .ii-inp3 { width:160px; height:24px; line-height:24px; text-indent:3px; outline:none; }
				
					.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area { float:left; width:280px; line-height:26px; position:relative; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-file { position:absolute; top:0px; left:0px; width:280px; height:26px; outline:none; cursor:pointer; display:block; background:#fff; filter: alpha(opacity = 0.00001); -moz-opacity: 0.00001; -khtml-opacity: 0.00001; opacity: 0.00001; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-txt { width:211px; height:24px; line-height:24px; border:1px solid #eee; background:noe; outline:none; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .file-area .f-btn { width:60px; height:26px; line-height:26px; margin-left:5px; background:#999; border-radius:3px; border:none; color:#fff; font-size:14px; font-weight:bold; }
						
						
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-c { width:280px; height:220px; line-height:24px; padding:8px; border:1px solid #eee; overflow-x:hidden; overflow-y:auto; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort { float:left; }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort .sparent { font-weight:bold; font-style:italic; }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort .sitem { text-indent:14px; }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort a {  }
							.cuser_center .cuser_y .company-tab-bd .bd-box ul li .select-sort a.on { color:#f00; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .s-to { float:left; height:24px; padding:5px 8px; margin-top:80px; color:#33F; font-weight:bold; }
						.cuser_center .cuser_y .company-tab-bd .bd-box ul li .selected-sort { float:left; }
						
		.cuser_center .cuser_y .txt-message { width:100%; padding-bottom:5px; border-bottom:1px solid #eee; line-height:24px; font-size:12px; }
			.cuser_center .cuser_y .txt-message .fsb { font-weight:bold; }
			.cuser_center .cuser_y .txt-message .fc { color:#666; }
			
			
					
			
		

