<!--{modtemplate admin/template/adm_header}-->

<!--内容开始-->
<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>评论者:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">{field:member.nickname/}</div>
				<div class="cont_li_p2_2">
					<p class="cont_c1"></p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="c_ml5px">
				<strong>评论内容:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="c_ml5px">
					<textarea name="_content" class="tabs"
						style="width: 40%; height: 200px;">{field:commentSub.content/}</textarea>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>


	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="提交" onclick="comment_adm_edit()" /></span> <span
			class="c_l c_ml10px"><input type="button" class="cont_dod"
			id="gobt" value="返回"
			onclick="redirectUrl({'url':'{field:callback_url/}'})" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#dobt','#gobt'];
var _V={
	'commentid':'{field:commentSub.commentid/}',
	'editUrl':"{url 'index','mod/comment/ac/admin/op/content/ao/content_editdo'/}"
};
function comment_adm_edit(){
	var content=textareaval('_content');
	var datas={'commentid':_V.commentid,'content':content};
	ajaxAction({'actionUrl':_V.editUrl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->