<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" />
		
		<security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
        </requestFiltering>
      </security>
	  
    </system.webServer>
	
	<system.web>
		<httpRuntime maxRequestLength="2147483647" executionTimeout="3600" />
	</system.web>
	
</configuration>
