@charset "utf-8";
/* CSS Document */

/* bg */
.wrap-bg {
	z-index: -2;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.wrap-bg .box {
	max-width: 1920px;
	max-height: 930px;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

.wrap-bg .box .s {
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #333;
	filter: alpha(opacity = 0.00001);
	-moz-opacity: 0.00001;
	-khtml-opacity: 0.00001;
	opacity: 0.00001;
}

.wrap-bg .box img {
	z-index: -2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

/* index,home nav */
.nav {
	z-index: 10;
	width: 100%;
	height: 66px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.nav .shadow {
	width: 100%;
	height: 65px;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.nav .shadow-bg { background:#000; }
.nav .shadow-bg2 { background:#fff; }

.nav .shadow-border {
	width: 100%;
	height: 0px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}

.nav .area {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 65px;
}

.nav .bd {
	width: 1200px;
	height: 100%;
	margin: auto;
}

.nav .bd ul.box {
	width: 100%;
	height: 65px;
}

.nav .bd ul.box li.ss {
	line-height: 65px;
}
.nav .bd ul.box li.ss-w { width: 400px; }

	.nav .bd ul.box li.ss-w .uinfo_101 { position:relative; }
		.nav .bd ul.box li.ss-w .uinfo_101 .ui_box { position:absolute; left:0px; top:65px; width:200px; background:#fff; display:none; }
			.nav .bd ul.box li.ss-w .uinfo_101 .ui_box a { height:26px; line-height:26px; padding:5px; display:block; font-size:14px; text-align:center; color:#000; outline:none; }
			.nav .bd ul.box li.ss-w .uinfo_101 .ui_box a:hover { text-decoration:underline; color:#F00; background:#eee; }
	

.nav .bd ul.box li.ss tbg2:hover {
	background: url(../../job/image/header-nav-hover-bg1.png) repeat-x;
}
.nav .bd ul.box li.ss tbg3-def {
	background: url(../../job/image/header-nav-hover-bg2.png) repeat-x;
}
.nav .bd ul.box li.ss tbg3:hover {
	background: url(../../job/image/header-nav-hover-bg2.png) repeat-x;
}

.nav .bd ul.box li.ss a {
	display: block;
	font-family: "arial";
	color: #fff;
}

.nav .bd ul.box li.ss .fs {
	font-size: 28px;
}

.nav .bd ul.box li.aa {
	
}

.nav .bd ul.box li.aa a {
	padding: 0px 50px;
}

.nav .bd ul.box li.bb {
	
}

.nav .bd ul.box li.bb a {
	padding: 0px 10px;
}

.nav .bd ul.box li.bb2 { width:200px; text-align:center; }

.nav .bd ul.box li.cc {
	
}

.nav .bd ul.box li.cc a {
	padding-left: 40px;
	padding-right: 10px;
	font-size: 20px;
}

.nav .bd ul.box li.cc dl a.icon {
	background: url(../../job/image/index-header-login.png) no-repeat 6px
		13px;
}

.nav .bd ul.box li.cc zc a.icon {
	background: url(../../job/image/index-header-reg.png) no-repeat 6px 13px;
}

/* home - footer */
.footer {
	width: 100%;
	height: auto;
	padding: 25px 0px;
}

.footer .fcc {
	width: 1200px;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	color: #090909;
}

.footer .fcc a {
	color: #090909;
}

.footer .fcc a:hover {
	text-decoration: underline;
}

.footer .fcc a.mr1 {
	margin-right: 10px;
}

.footer .fcc a.tl1 {
	padding: 0px 3px;
	border-bottom: 1px solid #7d7d7d;
}

.footer .fcc a.tl1:hover {
	text-decoration: none;
}

/* wrap-main */
.wrap-main {
	max-width: 1920px;
	max-height: 930px;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

.wrap-main .ma {
	float: left;
	width: 28%;
	height: 100%;
	position: relative;
}

.wrap-main .ma .ns {
	width: 100%;
}

.wrap-main .ma .ns .aaa {
	float: left;
	width: 40%;
	position: relative;
}

.wrap-main .ma .ns .aaa .sb {
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #91a0cd;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.wrap-main .ma .ns .aaa ul.box li {
	width: 90%;
	margin-left: 10%;
	margin-top: 10px;
}

.wrap-main .ma .ns .aaa ul.box li.ic-home {
	background: #6d728a;
	margin-top: 20px;
}

.wrap-main .ma .ns .aaa ul.box li.ic-on {
	background: #9e2036;
}

.wrap-main .ma .ns .aaa ul.box li.ic-def {
	background: #2b2d3b;
}

.wrap-main .ma .ns .aaa ul.box li.ic-s {
	background: #48484d;
}

.wrap-main .ma .ns .aaa ul.box li.ic-wn {
	background: #94327e;
}

.wrap-main .ma .ns .aaa ul.box li a.nn {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 10% 0px;
	text-align: center;
	font-family: "arial";
	font-size: 24px;
	color: #e4e5ee;
}

.wrap-main .ma .ns .aaa ul.box li a.nn em.icon-search {
	background: url(../../job/image/page-search.png) no-repeat 0px center;
	padding-left: 26px;
	font-size: 18px;
}

.wrap-main .ma .ns .bbb {
	float: left;
	width: 60%;
	position: relative;
}

.wrap-main .ma .ns .bbb .sb {
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #91a0cd;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.wrap-main .ma .ns .bbb a.icon-btn {
	position: absolute;
	width: 100%;
	height: 60px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	display: block;
}

.wrap-main .ma .ns .bbb a.icon-page-up {
	left: 0px;
	top: 10px;
}

.wrap-main .ma .ns .bbb a.icon-page-down {
	left: 0px;
	top: 0px;
}

.wrap-main .ma .ns .bbb .area-bd {
	width: 100%;
	margin-top: 70px;
}

.wrap-main .ma .ns .bbb .area-bd ul.box li {
	width: 85%;
	margin: auto;
	margin-top: 10px;
}

.wrap-main .ma .ns .bbb .area-bd ul.box li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 15% 0px;
	text-align: center;
	font-size: 18px;
	color: #e4e5ee;
}

.wrap-main .mb {
	float: left;
	width: 6%;
	height: 1px;
}

.wrap-main .mc {
	float: left;
	width: 66%;
	height: 100%;
}

.com-page { line-height:30px; text-align:right; }
.com-page-mt10 { margin-top:10px; }
.com-page-pr15 { padding-right:15px; }
	.com-page a { margin-left:5px; padding:2px 4px; color:#fff; }
	.com-page em { margin-left:5px; padding:2px 4px; color:#fff; }
	.com-page em.on { border:1px solid #acb3cf; font-weight:bold; }
	.com-page em.dis { color:#999; }
	
.com-page2 { line-height:30px; text-align:center; }
.com-page2-mt10 { margin-top:10px; }
.com-page2-mt20 { margin-top:20px; }
.com-page2-pr15 { padding-right:15px; }
.com-page2-pb15 { padding-bottom:15px; }
	.com-page2 a { margin-left:5px; padding:2px 4px; color:#504b4b; }
	.com-page2 em { margin-left:5px; padding:2px 4px; color:#504b4b; }
	.com-page2 em.on { background:#6f6f6f; color:#fff; font-weight:bold; border-radius:2px; }
	.com-page2 em.dis { color:#999; }
	
/* page-nav */
.page-nav { width:100%; line-height:24px; text-align:right; }
	.page-nav .pn-t { margin-right:5px; color:#999; }
		.page-nav .pn-t .light { color:#F00; padding:0px 2px; }
	
	.page-nav .pn-ns a { color:#0263ad; margin:0px 2px; padding:0px 5px; border:1px solid #e7ecf0; display:inline-block; }
	.page-nav .pn-ns a:hover { border:1px solid #0263ad; color:#fff; background:#0263ad; text-decoration:none; }
	.page-nav .pn-ns em { margin:0px 2px; padding:0px 5px; display:inline-block; }
	.page-nav .pn-ns em.on { color:#F00; font-weight:bold; }
	.page-nav .pn-ns em.dis { color:#999; }