@charset "utf-8";
/* CSS Document */
/* 2011.05.21 by geshai.com */
#windownbg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#windown-box {
	position: fixed;
	_position: absolute;
	text-align: left;
	background: #FFF;
	border: 8px solid #b7b8b8;
}

#windown-title {
	position: relative;
	height: 34px;
	border: 1px solid #f2f2f2;
	overflow: hidden;
	background: #f3f3f3;
}

#windown-title h2 {
	position: relative;
	left: 10px;
	top: 6px;
	font-size: 14px;
	color: #262626;
}

#windown-close {
	position: absolute;
	right: 10px;
	top: 8px;
	height: 16px;
	padding-left: 2px;
	padding-right: 2px;
	overflow: hidden;
	cursor: pointer;
	font-size: 16px;
	font-weight: 800;
}

#windown-close a {
	padding: 3px;
	color: #798596;
	text-decoration: none;
	line-height: 16px;
}

#windown-close a:hover {
	padding: 3px;
	color: #FF0000;
	text-decoration: none;
	line-height: 16px;
}

#windown-content-border {
	position: relative;
	top: -1px; /*border: 1px solid #f2f2f2;*/
	padding: 5px 0 5px 5px;
}

#windown-button-main {
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: auto;
	text-align: right;
	background: #f3f3f3;
}

.windown-button-a {
	padding: 1px 8px 1px 8px;
	cursor: pointer;
}

.windown-button-b {
	padding: 1px 8px 1px 8px;
	cursor: pointer;
}

#windown-content {
	position: relative;
	overflow: auto;
}

#windown-content img, #windown-content iframe {
	display: block;
}

#windown-content .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

.windown-content-data {
	width: 96%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#windown-show-time {
	color: #FF0000;
}

.windown-click-url {
	color: #808080;
}

.windown-click-url a {
	color: #318ace;
	text-decoration: none;
}

.windown-click-url a:hover {
	color: #FF0000;
	text-decoration: underline;
}