<!--{modtemplate admin/template/adm_header}-->

<div class="main_cont">

	<!--导航开始-->
	<!--{modtemplate admin/template/menu_nav}-->
	<!--导航结束-->

	<!--内容开始-->
	<div class="adm_sp">

		<p class="color11">{echo get_module('article','name')}{lang
			admin:ed}{lang admin:fabu}{lang admin:success}</p>
		<p class="c_mt5px">
			<a href="javascript:;" onclick="gourl('{$callbackurl}')">{lang
				admin:goback}{lang admin:liebiao}</a><a href="javascript:;"
				onclick="gourl('{$edit_url}')">{lang admin:edit}{echo
				get_module('article','name')}</a><a href="javascript:;"
				onclick="gourl('{modelurl 863}')">{lang admin:jixu}{lang
				admin:fabu}</a><a href="{$detail_url}" target="_blank">{lang
				admin:show}{echo get_module('article','name')}</a>
		</p>
		<div class="clr"></div>
	</div>
	<!--内容列表结束-->

	<div class="clr"></div>
</div>

<!--{modtemplate admin/template/adm_footer}-->