{eval $isshowmenunav=false/} {modtemplate admin/template/adm_header}

<link rel="stylesheet" type="text/css"
	href="{field:_G.web.sourcepath/}module/article/admin/template/css/article_adm.css" />

<div class="c_w100">
	<span class="c_l"> <select name="catid" class="cont_sh">
			<option value="0">==请选择==</option> {field:category_option/}
	</select>
	</span> <span class="c_l c_ml5px"><input type="text" name="title"
		class="cont_zt1" /></span> <span class="c_l c_ml5px"><button
			type="button" id="sbt" class="cont_dod"
			onclick="article_adm_about_search()" disabled="disabled">搜索</button></span>
	<div class="clr"></div>
</div>
<div class="clr"></div>

<div class="c_w100 c_mt5px">
	<div class="c_l a_about_label">
		<span class="c_l">共计(<font class="color6 fw" id="dx_num">0</font>)个
		</span>
	</div>
	<div class="c_r a_about_label">
		<span class="c_l">已选(<font class="color6 fw" id="yx_num">0</font>)个
		</span> <span class="c_l c_ml2px color1">(不宜选择过多)</span>
	</div>
	<div class="clr"></div>
</div>
<div class="clr"></div>

<!--列表开始-->
<div class="a_aboutmm c_mt2px">
	<div class="c_l a_aboutlist">
		<ul id="dx_loading">
			<li style="border: none;" class="color1">数据加载中...</li>
		</ul>
		<ul id="dx_list"></ul>
	</div>

	<div class="c_l a_aboutc">
		<p class="a_aboutcb">&raquo;</p>
	</div>

	<div class="c_r a_aboutlist">
		<ul id="yx_list"></ul>
	</div>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--列表结束-->
<!--分页开始-->
<div class="c_w100 c_mt2px">
	<div class="a_about_label textr" id="fy"></div>
</div>
<div class="clr"></div>

</div>
<script language="javascript">
$(document).ready(function(){
	article_adm_about_search(1);
	/*已添加的元素*/
	var abouts=parent.checkedval('about_arr');
	if(typeof(abouts)=='object'){
		for(var i=0;i<abouts.length;i++){
			article_adm_about_addhtml(abouts[i],'p');
		}
	}
});
var bts="#sbt";
var dellang='删除';
var abouttimer;
function article_adm_about_search(page){
	clearTimeout(abouttimer);
	$(bts).attr("disabled","disabled");
	abouttimer=setTimeout(function(){
		var catid=selectval('catid');
		var subjectaid=parent.$("input[name='aid']").attr("value");
		var title=sub_str(inputval('title'),0,20);
		var datas={'subjectaid':subjectaid,'catid':catid,'title':title,'page':page};
		var callback_param={'callback_param':{'isajax':1}};
		ajaxAction({'actionUrl':"{url 'index','mod/article/ac/admin/op/content/ao/content_aboutsearch'/}",'actionData':arr_merge(datas,callback_param),'showStatusId':'#dx_loading','showDataId':"#dx_list",'offButton':bts,'urlTarget':_CJG.MF});
	},500);
}
/*添加元素*/
function article_adm_about_addhtml(id,gettype){
	/*获取值对象*/
	var tobj=$("#dxtitle_"+id);
	if(typeof(gettype)!='undefined' && gettype!='' && gettype!=null && gettype=='p'){
		tobj=parent.$("#yxok_"+id);
	}
	var title=tobj.attr("title");
	var url=tobj.attr("href");
	/*检查是否添加过*/
	var yx_id='yx_'+id;
	if($("#"+yx_id).length>=1){	return '';	}
	var o=$("#yx_list");
	var htmlstr='<li id="'+yx_id+'"  onmouseover="currentbg(this)" onmouseout="currentbg(this,1)">';
    htmlstr+='<span class="c_l c_fab"><a href="'+url+'" target="_blank" title="'+title+'" id="yxtitle_'+id+'">'+sub_str(title,0,18,'...')+'</a></span>';
    htmlstr+='<span class="c_r"><a href="javascript:;" onClick="article_adm_about_delhtml('+id+')" class="color6">'+dellang+'</a></span>';
    htmlstr+='<input type="checkbox" checked="checked" name="about_arr" class="a_yxinput" value="'+id+'" />';
	htmlstr+='<div class="clr"></div>';
    htmlstr+='</li>';
	htmlstr+='<div class="clr"></div>';
	o.append(htmlstr);
	/*更新统计*/
	article_adm_about_count('add');
}
/*确定添加*/
function article_adm_about_addok(){
	var about_list=checkedval('about_arr');
	var htmlstr='';
	if(about_list.length>=1){
		var titleobj='';
		var id=0;
		var title='';
		var url='';
		for(var i=0;i<about_list.length;i++){
			titleobj=$("#yxtitle_"+about_list[i]);
			id=about_list[i];
			url=titleobj.attr('href');
			title=titleobj.attr('title');
			/*html*/
			htmlstr+='<p class="c_mt2px" id="aboutlist_'+id+'">';
			htmlstr+='<span class="c_l color1">(ID:'+id+')</span>';
			htmlstr+='<span class="c_l c_ml5px"><a href="'+url+'" target="_blank" title="'+title+'" id="yxok_'+id+'">'+title+'</a></span>';
			htmlstr+='<span class="c_l c_ml10px"><a href="javascript:;" class="color1" onclick=\"javascript:$(\'#aboutlist_'+id+'\').remove();\">'+dellang+'</a></span>';
			htmlstr+='<input type="checkbox" checked="checked" name="about_arr" class="vhidden" value="'+id+'" />';
			htmlstr+='<div class="clr"></div>';
			htmlstr+='</p>';
			htmlstr+='<div class="clr"></div>';
		}
	}
	parent.dialogClose();
	parent.$("#aboutlist").html(htmlstr);
}
/*统计已添加的*/
function article_adm_about_count(t){
	var o=$("#yx_num");
	var num=parseInt(o.html());
	if(t=='add'){
		num=num+1;
	}else{
		num=num-1;
	}
	o.html(num);
}
/*删除元素*/
function article_adm_about_delhtml(id){
	$("#yx_"+id).remove();
	/*更新统计*/
	article_adm_about_count('del');
}
</script>

{modtemplate admin/template/adm_footer}
