{eval $isshowmenunav=false/} {modtemplate admin/template/adm_header}

<link rel="stylesheet" type="text/css"
	href="{field:_G.web.sourcepath/}module/article/admin/template/css/article_adm.css" />
<script type="text/javascript"
	src="{field:_G.web.staticpath/}js/swfupload.js"></script>
<script type="text/javascript"
	src="{field:_G.web.sourcepath/}module/article/admin/template/js/article_pu.js"></script>

<script language="javascript">
var swfu;
</script>
<!--
	<div class="c_w100">
    	<span class="c_l c_ml5px fs14px"><a href="javascript:;">上传图片</a></span>
        <span class="c_l c_ml5px fs14px"><a href="javascript:;">网络图片</a></span>
    	<div class="clr"></div>
    </div>
    <div class="clr"></div>
    
    <div class="c_w100 c_bts c_mt5px"></div>
    <div class="clr"></div>
    -->
<div class="c_l a_upload_bt c_ml5px">
	<div id="a_upload_bt"></div>
</div>
<div class="c_l c_mt5px c_ml5px color7" id="upload_msg"></div>
<div class="clr"></div>

<div class="c_mt5px c_ml5px">
	<font class="color1">{field:upload_file_info/}</font>
</div>
<div class="clr"></div>

<div class="c_w100 c_bts c_mt5px"></div>
<div class="clr"></div>

<!--图片区域结束-->
<div class="c_w100 a_upload_area">
	<!--图片列表开始-->
	<div class="c_w100 a_upload_lists">
		<div id="html_loadlist" class="c_mt5px c_ml5px color1">数据加载中...</div>
		<ul id="html_showlist" class="c_none">
			<li id="loading" class="color7" style="width: 98%;"></li>
		</ul>
		<div class="clr"></div>
	</div>
	<!--图片列表结束-->

	<!--待上传列表开始-->
	<div class="c_w100 a_upload_wait">
		<ul id="a_upload_wait_list"></ul>
	</div>
	<div class="clr"></div>
	<!--待上传列表开始-->
</div>

<script language="javascript">
$(document).ready(function(){
	article_adm_picture_upload_load();
});
swfu=article_uploadpic("{url 'index','mod/article/ac/admin/op/content/ao/content_picuploaddo'/}",'{field:uid/}','{field:uf_size/}','{field:uf_extension/}');
function article_adm_picture_upload_load(){
	setHtmlData("#html_loadlist",'<img src="'+_CJG.sourcepath+'module/admin/template/image/loading.gif" width="16"/>&nbsp;加载中...');
	ajaxAction({'actionUrl':"{url 'index','mod/article/ac/admin/op/content/ao/content_picuploadlist'/}",'actionData':{'aid':aid_val()},'showStatusId':'#html_loadlist','showDataId':"#html_showlist"});
}
function article_adm_picture_upload_insert(attrSrc,src){
	var addAttr="{print config_value_get('uploadfilehtmlfield','uploadfile','val')/}";
	window.parent.keditor.insertHtml('<img '+addAttr+'="'+attrSrc+'" src="'+src+'"/>');
}
/*返回上传成功信息*/
function article_adm_picture_upload_succeed(data,ob){
	/*清除上传提示信息*/
	setHtmlData("#upload_msg",'');
	/*上传成功处理*/
	swfu.cancelUpload(ob.file.id);
	setHtmlData(ob.div_id+ob.file.id,'上传成功');
	$(ob.data_id+ob.file.id).fadeOut(1000,function(){$(ob.data_id+ob.file.id).remove();article_adm_picture_upload_load();});
}
/*返回上传异常提示信息*/
function article_adm_picture_upload_error(data,ob){
	setHtmlData("#upload_msg",data.data);
	$(ob.div_id+ob.file.id).html('上传失败');
	$(ob.div_do+ob.file.id).html('<a href="javascript:;" onclick="article_pic_del(\''+ob.file.id+'\')">删除</a>');
}
/*删除图片*/
function article_adm_picture_upload_del(picid){
	var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'article_adm_picture_upload_load','isajax':1}};
	var datas={'aid':aid_val(),'picid':picid,'urlTarget':_CJG.MF};
	ajaxAction({'actionUrl':"{url 'index','mod/article/ac/admin/op/content/ao/content_picuploaddel'/}",'actionData':arr_merge(datas,callback_param)});
}
/*封面设置*/
function article_adm_picture_upload_cover(picid,type){
	var urlDoArr={
		'set':"{url 'index','mod/article/ac/admin/op/content/ao/content_picuploadcover'/}",
		'cancel':"{url 'index','mod/article/ac/admin/op/content/ao/content_picuploadcoverdel'/}"
	};
	var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'article_adm_picture_upload_load','isajax':1}};
	var datas={'aid':aid_val(),'picid':picid,'urlTarget':_CJG.MF};
	ajaxAction({'actionUrl':urlDoArr[type],'actionData':arr_merge(datas,callback_param)});
}
</script>

{modtemplate admin/template/adm_footer}
