{modtemplate admin/template/adm_header}

<!--内容开始-->
<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>附件保存位置:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="dir"
						value="{print config_val('dir',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">
					<p class="cont_c1">设置附件需要保存的位置名称，属性0777，只能由数字、英文或下划线组成，如果是windows系统建议设置文件夹名不要过长</p>
					<p class="cont_c1">目录形式参数可用:{y}:年、{m}:月、{d}:日</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>上传图片扩展名:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $ext=de_serialize(config_val('extension',$sets));/} {loop
					config_value_get('imgageuploadtype') $key $val}
					<p class="cont_li_p2_3">
						<input type="checkbox" name="extension" value="{field:key/}" {if
							str_in_array($key,$ext)==1} checked="checked" {/if} />&nbsp;{field:val.title/}
					</p>
					{/loop}
				</div>
				<div class="cont_li_p2_2">请选择上传图片可允许的扩展名格式</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>上传图片大小:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="size"
						value="{print config_val('size',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">设置上传图片可允许上传大小，单位为MB，如为0则不受限制，建议参数值不要设置过大</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>缩略图质量:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="quality"
						value="{print config_val('quality',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">设置图片缩略图的质量，参数值可为&nbsp;0～100&nbsp;的整数，数值越大结果图片效果越好，但尺寸也越大</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>上传图片尺寸:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					w:&nbsp;<input type="text" class="cont_zt4" name="allow_width"
						value="{print config_val('allow_width',$sets)/}" />&nbsp;×&nbsp;h:&nbsp;<input
						type="text" class="cont_zt4" name="allow_height"
						value="{print config_val('allow_height',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">设置上传图片可允许的尺寸，两个参数（w,&nbsp;h），分别代表图片尺寸（宽,&nbsp;高），若为0则不受限制</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>图片处理:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					w:&nbsp;<input type="text" class="cont_zt4" name="thumb_width"
						value="{print config_val('thumb_width',$sets)/}" />&nbsp;×&nbsp;h:&nbsp;<input
						type="text" class="cont_zt4" name="thumb_height"
						value="{print config_val('thumb_height',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">
					<p class="color1">设置需要对原图进行处理后的缩略图尺寸，两个参数（w,&nbsp;h），分别代表图片尺寸（宽,&nbsp;高）</p>
					<p class="color1">若&nbsp;w&nbsp;或&nbsp;h&nbsp;为0时，则缩略图尺寸将不会受限制</p>
					<p class="color7">注意:&nbsp;如果两个参数（w,&nbsp;h）同都时为0时，将不会生成缩略图，则按原图保存</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="article_adm_picturupload_set('{url 'index','mod/article/ac/admin/op/set/ao/pictureupload_do'/}')" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
var button_ids='#dobt';
function article_adm_picturupload_set(do_url){
	var dir=inputval("dir");
	var extension=checkedval("extension");
	var size=inputval("size");
	var quality=inputval("quality");
	var allow_width=inputval("allow_width");
	var allow_height=inputval("allow_height");
	var thumb_width=inputval("thumb_width");
	var thumb_height=inputval("thumb_height");
	
	var datas={'dir':dir,'extension':extension,'size':size,'quality':quality,'allow_width':allow_width,'allow_height':allow_height,'thumb_width':thumb_width,'thumb_height':thumb_height};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->