{modtemplate admin/template/adm_header}

<!--提示信息开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	{modtemplate admin/template/site_variable_global} {loop
	$sets_variable_arr $val}
	<p class="c_mt5px c_ml5px color2">
		<strong class="color7">{field:val.val/}</strong>:{field:val.title/}<font
			class="color1">{field:val.description/}</font>
	</p>
	{/loop}
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示信息结束-->

<!--内容开始-->
<div class="cont_z">

	<ul>

		<li class="cont_zbg"><p class="cont_tlabel">
				<strong>主题首页</strong>
			</p></li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>title:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_title"
						value="{print config_val('index_title',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>keywords:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_keywords"
						value="{print config_val('index_keywords',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>description:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_description"
						value="{print config_val('index_description',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li class="cont_zbg"><p class="cont_tlabel">
				<strong>主题列表页</strong>
			</p></li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>title:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="list_title"
						value="{print config_val('list_title',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>keywords:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="list_keywords"
						value="{print config_val('list_keywords',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>description:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="list_description"
						value="{print config_val('list_description',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li class="cont_zbg"><p class="cont_tlabel">
				<strong>主题内容页</strong>
			</p></li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>title:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="content_title"
						value="{print config_val('content_title',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>keywords:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="content_keywords"
						value="{print config_val('content_keywords',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>description:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="content_description"
						value="{print config_val('content_description',$sets)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l cont_dobt"><input type="button"
			class="cont_dod" id="dobt" value="提交"
			onclick="article_adm_seo_set('{url 'index','mod/article/ac/admin/op/set/ao/seo_do'/}')" /></span>
		<div class="clr"></div>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
var button_ids='#dobt';
function article_adm_seo_set(do_url){
	var index_title=inputval('index_title');
	var index_keywords=inputval('index_keywords');
	var index_description=inputval('index_description');
	var list_title=inputval('list_title');
	var list_keywords=inputval('list_keywords');
	var list_description=inputval('list_description');
	var content_title=inputval('content_title');
	var content_keywords=inputval('content_keywords');
	var content_description=inputval('content_description');
	
	var datas={'index_title':index_title,'index_keywords':index_keywords,'index_description':index_description,'list_title':list_title,'list_keywords':list_keywords,'list_description':list_description,'content_title':content_title,'content_keywords':content_keywords,'content_description':content_description};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

{modtemplate admin/template/adm_footer}
