<!--{modtemplate admin/template/adm_header}-->

<div class="main_cont">

	<!--导航开始-->
	<!--{modtemplate admin/template/menu_nav}-->
	<!--导航结束-->

	<!--内容列表开始-->
	<div class="cont_z">

		<ul>

			<li>
				<div class="cont_li_p1">
					<strong>添加主题状态:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">

						<p class="cont_li_p2_3">
							<input type="radio" name="status"
								value="{echo article_value_get('status','normal','field')}" {if
								article_value_get('status','normal','field')==config_val(
								'status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','normal','title')}
						</p>
						<p class="cont_li_p2_3">
							<input type="radio" name="status"
								value="{echo article_value_get('status','check','field')}" {if
								article_value_get('status','check','field')==config_val(
								'status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','check','title')}
						</p>
						<p class="cont_li_p2_3">
							<input type="radio" name="status"
								value="{echo article_value_get('status','recycle','field')}" {if
								article_value_get('status','recycle','field')==config_val(
								'status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','recycle','title')}
						</p>

					</div>
					<div class="cont_li_p2_2">
						<p class="color1">设置添加主题成功后的状态</p>
						<p class="color1">选择“正常”将直接显示</p>
						<p class="color1">选择“审核”或“回收站”则由管理员逐个操作才显示</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>主题内容字数:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_zt1" name="content_minlen"
							value="{echo config_val('content_minlen',$dmarr,10)}" />&nbsp;~&nbsp;<input
							type="text" class="cont_zt1" name="content_maxlen"
							value="{echo config_val('content_maxlen',$dmarr,0)}" />
					</div>
					<div class="cont_li_p2_2">
						设置主题内容的字数长度限制，最小长度为大于或等于1的整数。<span class="color7">如果最大长度为0，则不受限</span>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li class="cont_zbg"><p class="cont_tlabel">
					<strong>评论</strong>
				</p></li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>评论功能:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<!--{eval $index=0;}-->
						<!--{loop yesno_val() $val}-->
						<!--{eval $index++;}-->
						<span class="c_l {if $index!=1}c_ml10px{/if}"><input
							type="radio" name="iscomment" value="{$val['field']}" {if
							config_val('iscomment',$dmarr,yesno_val('check','field'))==$val[
							'field']} checked="checked" {/if} />&nbsp;{$val['title3']}</span>
						<!--{/loop}-->
					</div>
					<div class="cont_li_p2_2">选择“{echo
						yesno_val('normal','title3')}”后，会员将可对主题进行评论操作，选择“{echo
						yesno_val('check','title3')}”，则关闭评论功能</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>评论状态:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">

						<p class="cont_li_p2_3">
							<input type="radio" name="comment_status"
								value="{echo article_value_get('status','normal','field')}" {if
								article_value_get('status','normal','field')==config_val(
								'comment_status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','normal','title')}
						</p>
						<p class="cont_li_p2_3">
							<input type="radio" name="comment_status"
								value="{echo article_value_get('status','check','field')}" {if
								article_value_get('status','check','field')==config_val(
								'comment_status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','check','title')}
						</p>
						<p class="cont_li_p2_3">
							<input type="radio" name="comment_status"
								value="{echo article_value_get('status','recycle','field')}" {if
								article_value_get('status','recycle','field')==config_val(
								'comment_status',$dmarr)}checked="checked" {/if} />&nbsp;{echo
							article_value_get('status','recycle','title')}
						</p>

					</div>
					<div class="cont_li_p2_2">
						<p class="color1">设置添加评论成功后的状态</p>
						<p class="color1">选择“正常”将直接显示</p>
						<p class="color1">选择“审核”或“回收站”则由管理员逐个操作才显示</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>主题评论字数:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_zt1" name="comment_minlen"
							value="{echo config_val('comment_minlen',$dmarr,1)}" />&nbsp;~&nbsp;<input
							type="text" class="cont_zt1" name="comment_maxlen"
							value="{echo config_val('comment_maxlen',$dmarr,500)}" />
					</div>
					<div class="cont_li_p2_2">
						设置评论的字数长度限制，最小长度为大于或等于1的整数。<span class="color7">如果最大长度为0，则不受限</span>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

		</ul>

		<div class="clr"></div>

		<div class="cont_doc">
			<span class="cont_dobt"><input type="button" class="cont_dod"
				id="dobt" value="{lang admin:submit}"
				onclick="article_adm_set('{modelurl 875}')" /></span>
		</div>

		<div class="clr"></div>
	</div>
	<!--内容列表结束-->

	<div class="clr"></div>
</div>

<!--js start-->
<script language="javascript">
var callback_param={'callback_param':{'msg_call':'myalert','msg_call_b':'myalert','msg_href':""}};
function article_adm_set(do_url){
	var status=is_check_name("status","{echo article_value_get('status','check','field')}");
	var content_minlen=inputvals("content_minlen");
	var content_maxlen=inputvals("content_maxlen");
	
	var iscomment=is_check_name("iscomment","{echo yesno_val('check','field')}");
	var comment_status=is_check_name("comment_status","{echo article_value_get('status','check','field')}");
	var comment_minlen=inputvals("comment_minlen");
	var comment_maxlen=inputvals("comment_maxlen");
	
	var datas={'status':status,'content_minlen':content_minlen,'content_maxlen':content_maxlen,'iscomment':iscomment,'comment_status':comment_status,'comment_minlen':comment_minlen,'comment_maxlen':comment_maxlen};
	publishdo(do_url,arr_merge(datas,callback_param),"","","#dobt");
}
</script>
<!--js end-->

<!--{modtemplate admin/template/adm_footer}-->