<div class="c_w100">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>添加主题功能:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $index=0;/} {loop yesno_val() $val} {eval $index++;/} <span
						class="c_l {if $index!=1}c_ml10px{/if}"><input type="radio"
						name="{field:moduleInfo.module/}_allowaddcontent"
						value="{field:val.field/}" {if
						array_key_val('allowaddcontent',$groupSetting,yesno_val('check','field'))==$val[
						'field']} checked="checked" {/if} />&nbsp;{field:val.title3/}</span>
					{/loop}
				</div>
				<div class="cont_li_p2_2">关闭后，该组的用户将不能添加主题</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>添加主题状态:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">

					<p class="cont_li_p2_3">
						<input type="radio" name="{field:moduleInfo.module/}_status"
							value="{print article_value_get('status','normal','field')/}" {if
							article_value_get('status','normal','field')==array_key_val(
							'status',$groupSetting)}checked="checked" {/if} />&nbsp;{print
						article_value_get('status','normal','title')/}
					</p>
					<p class="cont_li_p2_3">
						<input type="radio" name="{field:moduleInfo.module/}_status"
							value="{print article_value_get('status','check','field')/}" {if
							article_value_get('status','check','field')==array_key_val(
							'status',$groupSetting)}checked="checked" {/if} />&nbsp;{print
						article_value_get('status','check','title')/}
					</p>
					<p class="cont_li_p2_3">
						<input type="radio" name="{field:moduleInfo.module/}_status"
							value="{print article_value_get('status','recycle','field')/}"
							{if article_value_get('status','recycle','field')==array_key_val(
							'status',$groupSetting)}checked="checked" {/if} />&nbsp;{print
						article_value_get('status','recycle','title')/}
					</p>

				</div>
				<div class="cont_li_p2_2">
					<p class="color1">设置添加主题成功后的状态</p>
					<p class="color1">选择“正常”将直接显示</p>
					<p class="color1">选择“审核”或“回收站”则由管理员逐个操作才显示</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>主题内容字数:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_zt7"
						name="{field:moduleInfo.module/}_content_minlen"
						value="{print array_key_val('content_minlen',$groupSetting,10)/}" />&nbsp;~&nbsp;<input
						type="text" class="cont_zt7"
						name="{field:moduleInfo.module/}_content_maxlen"
						value="{print array_key_val('content_maxlen',$groupSetting,0)/}" />
				</div>
				<div class="cont_li_p2_2">
					设置主题内容的字数长度限制，最小长度为大于或等于1的整数。<span class="color7">如果最大长度为0，则不受限</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>
</div>
<div class="clr"></div>

<!--button start-->
<div class="cont_doc">
	<span class="c_l c_ml5px"><input type="button" class="cont_dod"
		id="{field:moduleInfo.module/}_dobt" value="提交"
		onclick="article_adm_special_groupsetting()" /></span> <span
		class="c_l c_ml10px"><input type="button" class="cont_dod"
		id="{field:moduleInfo.module/}_gobt" value="返回"
		onclick="redirectUrl({'url':'{field:callback_url/}'})" /></span>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--button end-->

<script language="javascript">
function article_adm_special_groupsetting(){
	var m="{field:moduleInfo.module/}";
	var buttons=["#"+m+"_dobt","#"+m+"_gobt"];
	/*获取当前组值*/
	var title=inputval("title");
	/*获取值*/
	var allowaddcontent=getboxfirst(m+"_allowaddcontent");
	var status=getboxfirst(m+"_status");
	var content_minlen=inputval(m+"_content_minlen");
	var content_maxlen=inputval(m+"_content_maxlen");
	
	var datas={
		'groupid':currentGroup.groupid,
		'title':title,
		'module':m,
		'settingdo':currentGroup.settingdo,
		
		'allowaddcontent':allowaddcontent,
		'status':status,
		'content_minlen':content_minlen,
		'content_maxlen':content_maxlen
	};
	ajaxAction({'actionUrl':currentGroup.submitUrl,'actionData':arr_merge(datas,currentGroup.callback_param),'offButton':buttons,'urlTarget':_CJG.MF});
}
</script>