@charset "utf-8";
/* CSS Document */
.uc-exam-rec { width:780px; margin-left:50px; }
	.uc-exam-rec ul.rec-box li { float:left; width:220px; height:140px; padding:10px; margin-top:20px; border:1px solid #DEDBBE; overflow:hidden; position:relative; }
	.uc-exam-rec ul.rec-box li.ml { margin-left:20px;  }
		.uc-exam-rec ul.rec-box li .yz { position:absolute; right:18px; bottom:10px; width:50px; height:50px; background:url(../../job/image/zzhang/1.png) no-repeat center center; filter: alpha(opacity = 35); -moz-opacity: 0.35; -khtml-opacity: 0.35; opacity: 0.35; }
		.uc-exam-rec ul.rec-box li .cn { height:35px; line-height:35px; width:100%; overflow:hidden; font-weight:bold; color:#666; }
			.uc-exam-rec ul.rec-box li .cn img { width:18px; height:18px; margin-right:5px; border:1px solid #eee; padding:1px; }
		.uc-exam-rec ul.rec-box li .tit { height:24px; line-height:24px; width:100%; overflow:hidden; font-size:12px; color:#666; }
			.uc-exam-rec ul.rec-box li .tit em { padding:0px 2px; border-bottom:1px dotted #FF9900; }
		.uc-exam-rec ul.rec-box li .score { height:24px; line-height:24px; width:100%; font-size:12px; color:#666; }
			.uc-exam-rec ul.rec-box li .score .bl { float:left; }
			.uc-exam-rec ul.rec-box li .score .bar { float:left; width:100px; height:12px; padding:1px; margin-top:4px; margin-left:5px; border:1px solid #E6E6E6; border-radius:2px; position:relative; }
				.uc-exam-rec ul.rec-box li .score .bar .pro { height:12px; background:#DFD1D0; overflow:hidden; text-align:right; }
				.uc-exam-rec ul.rec-box li .score .bar .tnum { position:absolute; left:1px; top:1px; width:100%; height:12px; line-height:12px; text-align:center; font-family: "Courier New", Courier, monospace; font-size:12px; color:#999; }
			.uc-exam-rec ul.rec-box li .score .mct { float:left; margin-left:2px; font-size:12px; color:#999; font-family: Georgia, "Times New Roman", Times, serif; }
		.uc-exam-rec ul.rec-box li .xg { height:24px; line-height:24px; width:100%; font-size:12px; color:#666; }
			.uc-exam-rec ul.rec-box li .xg em { padding:0px 3px; background:#B5FFB5; }
		.uc-exam-rec ul.rec-box li .date { height:24px; line-height:24px; width:100%; font-size:12px; text-align:right; color:#666; }
		.uc-exam-rec ul.rec-box li .vt { position:absolute; right:10px; top:0px; display:none; }
			.uc-exam-rec ul.rec-box li .vt a { font-size:12px; color:#069; }
				.uc-exam-rec ul.rec-box li .vt a:hover { text-decoration:underline; }
		