<!--{modtemplate admin/template/adm_header}-->

<!--提示信息开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	<p class="c_mt5px c_ml5px color2 fw">提示:</p>
	<p class="c_mt5px c_ml5px color1">1、通过此主题属性标签来指定主题显示方式</p>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示信息结束-->

<!--内容开始-->
<div class="cont_z">

	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_attrid"
				onclick="checkedall(this.name,'attrid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="70%">标签名称</td>
			<td width="20%">操作时间</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="attrid_{field:val.attrid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="attrid_arr"
				value="{field:val.attrid/}" /></td>
			<td width="6%">{field:val.attrid/}</td>
			<td width="70%"><input type="text" class="cont_zt6"
				name="title_{field:val.attrid/}" value="{field:val.title/}" /></td>
			<td width="20%" class="color1">{datestyle $val['ctime'],'Y-m-d
				H:i'/}</td>
		</tr>
		<!--{/dbres}-->
		<!--{/if}-->
		<tr id="menu_list_p" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="10%" colspan="2" style="text-align: right;"><span
				class="cont_c2">添加:</span></td>
			<td width="70%"><input type="text" class="cont_zt6" name="title" /></td>
			<td width="20%" colspan="2"><input type="button"
				class="cont_dod" id="pbt" value="添加"
				onclick="common_adm_attr_add('{url 'index','mod/common/ac/admin/op/attr/ao/attr_baseadd'/}')" /></td>
		</tr>
		<tr class="cont_dbg">
			<td colspan="4"><span class="c_l"> <input type="checkbox"
					name="ck_dosign" value="1" />&nbsp;<span class="cont_c2">删?</span>&nbsp;&nbsp;<input
					type="button" class="cont_dod" id="dobt" value="提交"
					onclick="common_adm_attr_listdo('{url 'index','mod/common/ac/admin/op/attr/ao/attr_baseedit'/}','{url 'index','mod/common/ac/admin/op/attr/ao/attr_del'/}')" /></span>
				<span class="c_r">{modtemplate admin/template/page}</span></td>
		</tr>
	</table>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#pbt','#dobt'];
/*分类添加*/
function common_adm_attr_add(do_url){
	var title=inputval("title");
	var datas={'title':title};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
/*标签分类_列表操作*/
function common_adm_attr_listdo(editurl,delurl){
	var attrid_arr=checkedval("attrid_arr");
	var attrid_len=attrid_arr.length;
	var title_arr=[];
	if(attrid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	if(!isVal(getboxfirst("ck_dosign"))){
		/*编辑操作*/
		for(var i=0;i<attrid_len;i++){
			title_arr.push(inputval("title_"+attrid_arr[i]));
		}
		datas={'attrid':attrid_arr,'title':title_arr};
		ajaxAction({'actionUrl':editurl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
	}else{
		/*删除操作*/
		datas=arr_merge({'attrid':attrid_arr},callback_param);
		mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':delurl,'actionData':datas,'urlTarget':_CJG.MF}});
	}
}
</script>

<!--{modtemplate admin/template/adm_footer}-->