{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<div class="cont_z">

	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_cwordid"
				onclick="checkedall(this.name,'cwordid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="8%">排序编号</td>
			<td width="20%">敏感词</td>
			<td width="20%">过滤词</td>
			<td width="42%">操作时间</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="cwordid_{field:val.cwordid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="cwordid_arr"
				value="{field:val.cwordid/}" /></td>
			<td width="6%">{field:val.cwordid/}</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder_{field:val.cwordid/}" value="{field:val.listorder/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="badword_{field:val.cwordid/}" value="{field:val.badword/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="filterword_{field:val.cwordid/}"
				value="{field:val.filterword/}" /></td>
			<td width="42%" class="color1">{datestyle $val['ctime'],'Y-m-d
				H:i'/}</td>
		</tr>
		{/dbres} {/if}
		<tr id="menu_list_p" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="10%" colspan="2" style="text-align: right;"><span
				class="cont_c2">添加:</span></td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder" value="" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="badword" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="filterword" /></td>
			<td width="42%" colspan="2"><input type="button"
				class="cont_dod" id="pbt" value="添加"
				onclick="common_adm_wordfilter_add('{url 'index','mod/common/ac/admin/op/badword/ao/filter/bo/filter_baseadd'/}')" /></td>
		</tr>
		<tr class="cont_dbg">
			<td colspan="6"><span class="c_l"> <input type="checkbox"
					name="ck_dosign" value="1" />&nbsp;<span class="cont_c2">删?</span>&nbsp;&nbsp;<input
					type="button" class="cont_dod" id="dobt" value="提交"
					onclick="common_adm_wordfilter_listdo('{url 'index','mod/common/ac/admin/op/badword/ao/filter/bo/filter_baseedit'/}','{url 'index','mod/common/ac/admin/op/badword/ao/filter/bo/filter_del'/}')" /></span>
				<span class="c_r">{modtemplate admin/template/page}</span></td>
		</tr>
	</table>

	<div class="clr"></div>
</div>


<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#pbt','#dobt'];
/*添加*/
function common_adm_wordfilter_add(do_url){
	var listorder=inputval("listorder");
	var badword=inputval("badword");
	var filterword=inputval("filterword");
	var datas={'listorder':listorder,'badword':badword,'filterword':filterword};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
/*列表操作*/
function common_adm_wordfilter_listdo(editurl,delurl){
	var cwordid_arr=checkedval("cwordid_arr");
	var cwordid_len=cwordid_arr.length;
	var listorder_arr=[],badword_arr=[],filterword_arr=[];
	if(cwordid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	if(!isVal(getboxfirst("ck_dosign"))){
		/*编辑操作*/
		for(var i=0;i<cwordid_len;i++){
			listorder_arr.push(inputval("listorder_"+cwordid_arr[i]));
			badword_arr.push(inputval("badword_"+cwordid_arr[i]));	
			filterword_arr.push(inputval("filterword_"+cwordid_arr[i]));	
		}
		datas={'cwordid':cwordid_arr,'listorder':listorder_arr,'badword':badword_arr,'filterword':filterword_arr};
		ajaxAction({'actionUrl':editurl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});	
	}else{
		/*删除操作*/
		datas=arr_merge({'cwordid':cwordid_arr},callback_param);
		mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':delurl,'actionData':datas,'urlTarget':_CJG.MF}});
	}
}
</script>

<!--{modtemplate admin/template/adm_footer}-->