
<tr id="list_{field:arr.catid/}" onmouseover="currentbg(this)"
	onmouseout="currentbg(this,1)">
	<td width="4%"><input type="checkbox" name="catid_arr"
		value="{field:arr.catid/}" /></td>
	<td width="6%" class="color1">{field:arr.catid/}</td>
	<td width="8%"><input type="text" class="cont_zt7"
		name="listorder_{field:arr.catid/}" value="{field:arr.listorder/}" /></td>
	<td width="40%"><span class="c_l">{if
			$arr['indent']>=1}{for
			$x=0;$x<$arr['indent'];$x++}&nbsp;&nbsp;&nbsp;&nbsp;{/for}<span
			class="color1">┝&nbsp;</span>{/if}<input type="text"
			class="cont_zt1 {if $arr['indent']<1}fw{/if}"
			name="title_{field:arr.catid/}" value="{field:arr.title/}" />
	</span> <span class="c_l c_ml2px c_mt5px add"><a href="javascript:;"
			title="添加下级分类"
			onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/category/ao/category_addset/catid/'.$arr['catid']/}'})">+</a></span>
	</td>
	<td width="24%"><input type="text" class="cont_zt3"
		name="description_{field:arr.catid/}" value="{field:arr.description/}" /></td>
	<td width="8%"><input type="checkbox"
		name="disabled_{field:arr.catid/}"
		value="{print yesno_val('normal')/}" {if $arr['disabled']==yesno_val(
		'normal')}checked="checked" {/if} /></td>
	<td width="10%" class="anc"><a href="javascript:;"
		onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/category/ao/category_editset/catid/'.$arr['catid']/}'})">编辑</a></td>
</tr>