{modtemplate admin/template/adm_header}

<!--内容开始-->
<div class="cont_z">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>策略名称:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="title"
						value="{print array_key_val('title',$creditrule)/}" />
				</div>
				<div class="cont_li_p2_2">策略名称</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>模块类型:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="module" class="width160px cont_sh">
						<option value="0">==请选择==</option> {eval
						$moduleList=get_module_support('credit');/} {loop $moduleList
						$val}
						<option value="{field:val.module/}"
							{if $val['module']==array_key_val(
							'module',$creditrule)}selected="selected" {/if} />{field:val.name/}
						</option> {/loop}
					</select>
				</div>
				<div class="cont_li_p2_2 alc">模块类型</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>策略模块类型名:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="action"
						value="{print array_key_val('action',$creditrule)/}" />
				</div>
				<div class="cont_li_p2_2">策略模块类型名</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>周期:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $index=0/} {eval
					$cycletypeArr=common_value_get('credit_cycletype')/} {eval
					$cycletypeLen=array_number($cycletypeArr)/} {loop $cycletypeArr
					$val} {eval $index++/}
					<p class="c_l c_pointer {if $index>1}c_mt5px{/if}"
						onclick="setchecked('cycletype_{field:val.field/}','id',true);common_adm_credit_policy_cycletype_set('{field:val.field/}')">
						<input type="radio" name="cycletype"
							id="cycletype_{field:val.field/}" value="{field:val.field/}" {if
							array_key_val('cycletype',$creditrule)==$val[
							'field']}checked="checked"
							{/if} onclick="common_adm_credit_policy_cycletype_set('{field:val.field/}')" />&nbsp;{field:val.title/}
					</p>
					<div class="clr"></div>
					{/loop}
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li id="everyday_set" class="c_none">
			<div class="cont_li_p1">
				<span class="c_l c_ml20px"><strong>时间段:</strong></span>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<span class="c_l c_ml20px"><strong class="color6">S:</strong>
						<select name="cycletype_everyday_start_hour"
						class="width60px cont_sh"> {for $i=0;$i<24;$i++}
							<option value="{field:i/}" {if
								array_key_val('cycletype',$creditrule)==common_value_get(
								'credit_cycletype','everyday','field')}{if
								array_key_val('start_hour',array_key_val('cycletime',$creditrule))==$i}selected= "selected"{/if}{/if} />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
    	</select>&nbsp;<strong>点</strong> </span> <span class="c_l c_ml5px"> <select
						name="cycletype_everyday_start_minute" class="width60px cont_sh">
							{for $i=0;$i<60;$i++}
							<option value="{field:i/}" {if
								array_key_val('cycletype',$creditrule)==common_value_get(
								'credit_cycletype','everyday','field')}{if
								array_key_val('start_minute',array_key_val('cycletime',$creditrule))==$i}selected= "selected"{/if}{/if} />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
    	</select>&nbsp;<strong>分</strong>
					</span> <span class="c_l c_ml5px"><strong>~</strong></span> <span
						class="c_l c_ml5px"><strong class="color6">E:</strong> <select
						name="cycletype_everyday_end_hour" class="width60px cont_sh">
							{for $i=0;$i<24;$i++}
							<option value="{field:i/}" {if
								array_key_val('cycletype',$creditrule)==common_value_get(
								'credit_cycletype','everyday','field')}{if
								array_key_val('end_hour',array_key_val('cycletime',$creditrule))==$i}selected= "selected"{/if}{/if} />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
    	</select>&nbsp;<strong>点</strong> </span> <span class="c_l c_ml5px"> <select
						name="cycletype_everyday_end_minute" class="width60px cont_sh">
							{for $i=0;$i<60;$i++}
							<option value="{field:i/}" {if
								array_key_val('cycletype',$creditrule)==common_value_get(
								'credit_cycletype','everyday','field')}{if
								array_key_val('end_minute',array_key_val('cycletime',$creditrule))==$i}selected= "selected"{/if}{/if} />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
    	</select>&nbsp;<strong>分</strong>
					</span>
				</div>
				<div class="cont_li_p2_2 alc">选择每天的时间段，“S”为起始时间，“E”为结束时间（注意:结束时间00点00分表示为不限，相当于23点59分）</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li id="hour_set" class="c_none">
			<div class="cont_li_p1">
				<span class="c_l c_ml20px"><strong>小时间隔:</strong></span>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<span class="c_l c_ml20px"><input type="text"
						class="cont_z_txt" name="cycletype_hour_hour"
						value="{if array_key_val('cycletype',$creditrule)==common_value_get('credit_cycletype','hour','field')}{print array_key_val('cycletime',$creditrule)/}{/if}" /></span>
				</div>
				<div class="cont_li_p2_2 alc">单位为“小时”的时间间隔，如果为0，则不受限制</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li id="minute_set" class="c_none">
			<div class="cont_li_p1">
				<span class="c_l c_ml20px"><strong>分钟间隔:</strong></span>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<span class="c_l c_ml20px"><input type="text"
						class="cont_z_txt" name="cycletype_minute_minute"
						value="{if array_key_val('cycletype',$creditrule)==common_value_get('credit_cycletype','minute','field')}{print array_key_val('cycletime',$creditrule)/}{/if}" /></span>
				</div>
				<div class="cont_li_p2_2 alc">单位为“分钟”的时间间隔，如果为0，则不受限制</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li id="rewardnum_set" class="c_none">
			<div class="cont_li_p1">
				<span class="c_l c_ml20px"><strong>周期内次数:</strong></span>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<span class="c_l c_ml20px"><input type="text"
						class="cont_z_txt" name="rewardnum"
						value="{print array_key_val('rewardnum',$creditrule)/}" /></span>
				</div>
				<div class="cont_li_p2_2">如果为0，则不受限制</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		{eval $creditfieldArr=common_creditfield(NULL)/} {eval
		$creditfieldLen=array_number($creditfieldArr)/} {loop $creditfieldArr
		$val}
		<li>
			<div class="cont_li_p1">
				<strong>{field:val.title/}:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="{field:val.field/}"
						value="{print array_key_val($val['field'],$creditrule)/}" />
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
		{/loop}


	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="common_adm_credit_policy_edit('{field:submiturl/}')" /></span> <span
			class="c_l c_ml10px"><input type="button" class="cont_dod"
			id="gobt" value="返回"
			onclick="redirectUrl({'url':'{field:callback_url/}'})" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids=["#dobt","#gobt"];
/*初始化值*/
var _creditCycletype={
	<!--{eval $index=0;/}-->
	<!--{loop $cycletypeArr $val}-->
	<!--{eval $index++;/}-->
	"{field:val.field/}":"{field:val.field/}"<!--{if $index!=$cycletypeLen}-->,<!--{/if}-->
	<!--{/loop}-->
};
/*积分字段*/
var _creditFieldArr=Array()
<!--{loop $creditfieldArr $val}-->
_creditFieldArr.push("{field:val.field/}");
<!--{/loop}-->

$(document).ready(function(){
	var _defaultCycletype="{print array_key_val('cycletype',$creditrule)/}";
	if(!isVal(_defaultCycletype)){
		_defaultCycletype=_creditCycletype.once;
	}
	setchecked('cycletype_'+_defaultCycletype,'id',true);
	common_adm_credit_policy_cycletype_set(_defaultCycletype);
});
function common_adm_credit_policy_cycletype_set(val){
	switch(val){
		case _creditCycletype.once:
		setHtmlDisplay("#everyday_set","none");
		setHtmlDisplay("#hour_set","none");
		setHtmlDisplay("#minute_set","none");
		setHtmlDisplay("#rewardnum_set","none");
		break;
		case _creditCycletype.not:
		setHtmlDisplay("#everyday_set","none");
		setHtmlDisplay("#hour_set","none");
		setHtmlDisplay("#minute_set","none");
		setHtmlDisplay("#rewardnum_set");
		break;
		case _creditCycletype.everyday:
		setHtmlDisplay("#everyday_set");
		setHtmlDisplay("#hour_set","none");
		setHtmlDisplay("#minute_set","none");
		setHtmlDisplay("#rewardnum_set");
		break;
	
		case _creditCycletype.hour:
		setHtmlDisplay("#everyday_set","none");
		setHtmlDisplay("#hour_set");
		setHtmlDisplay("#minute_set","none");
		setHtmlDisplay("#rewardnum_set");
		break;
		case _creditCycletype.minute:
		setHtmlDisplay("#everyday_set","none");
		setHtmlDisplay("#hour_set","none");
		setHtmlDisplay("#minute_set");
		setHtmlDisplay("#rewardnum_set");
		break;
	}
}
function common_adm_credit_policy_edit(do_url){
	var ruleid="{print array_key_val('ruleid',$creditrule)/}";
	var title=inputval("title");
	var module=selectval("module");
	var action=inputval("action");
	var cycletype=getboxfirst("cycletype");
	
	/*周期时间*/
	var cycletime='';
	switch(cycletype){
		case _creditCycletype.everyday:
			/*每天*/
			var start_hour=selectval("cycletype_everyday_start_hour");
			var start_minute=selectval("cycletype_everyday_start_minute");
			var end_hour=selectval("cycletype_everyday_end_hour");
			var end_minute=selectval("cycletype_everyday_end_minute");
			cycletime={'start_hour':start_hour,'start_minute':start_minute,'end_hour':end_hour,'end_minute':end_minute};
		break;
		case _creditCycletype.hour:
			/*每小时*/
			var hour_hour=inputval("cycletype_hour_hour");
			cycletime=hour_hour;
		break;
		case _creditCycletype.minute:
			/*每分钟*/
			var minute_minute=inputval("cycletype_minute_minute");
			cycletime=minute_minute;
		break;
	}
	/*周期次数*/
	var rewardnum=inputval("rewardnum");
	
	/*保存积分字段的变量*/
	var _creditArr=Array();
	/*获取积分字段值*/
	for(var i=0; i<_creditFieldArr.length; i++){
		_creditArr.push(Array(_creditFieldArr[i],inputval(_creditFieldArr[i])));
	}
	var datas={'ruleid':ruleid,'title':title,'module':module,'action':action,'cycletype':cycletype,'cycletime':cycletime,'rewardnum':rewardnum,'credit':_creditArr};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

{modtemplate admin/template/adm_footer}
