<!--{modtemplate admin/template/adm_header}-->

<!--内容开始-->
<div class="cont_z">
	<table>
		<tr class="cont_zbg">
			<td width="20%">积分名称</td>
			<td width="20%">积分单位</td>
			<td width="20%">积分说明</td>
			<td width="40%">启用</td>
		</tr>

		{loop common_value_get('credit_field') $val}
		<tr id="clist_{field:val.field/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="20%"><input type="text" class="cont_zt6"
				name="title_arr_{field:val.field/}"
				value="{if check_is_key($val['field'],$filedArr)==1}{print array_key_val('title',$filedArr[$val['field']])/}{/if}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="unit_arr_{field:val.field/}"
				value="{if check_is_key($val['field'],$filedArr)==1}{print array_key_val('unit',$filedArr[$val['field']])/}{/if}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="description_arr_{field:val.field/}"
				value="{if check_is_key($val['field'],$filedArr)==1}{print array_key_val('description',$filedArr[$val['field']])/}{/if}" />
			</td>
			<td width="36%"><input type="checkbox" name="credit_arr"
				value="{field:val.field/}" {if $val['iscore']==yesno_val(
				'check')}disabled="disabled" {/if} {if
				check_is_key($val['field'],$filedArr)==1} checked="checked" {/if} />
			</td>
		</tr>
		{/loop}

		<tr class="cont_dbg">
			<td colspan="5">
				<div class="c_l">
					<input type="button" class="cont_dod" id="dobt" value="提交"
						onclick="common_adm_credit_listdo('{url 'index','mod/common/ac/admin/op/credit/ao/baseset_setdo'/}')" />
				</div>
			</td>
		</tr>
	</table>
	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids='#dobt';
function common_adm_credit_listdo(editurl){
	var credit_arr=checkedval("credit_arr");
	var credit_len=credit_arr.length;
	var title_arr=[],unit_arr=[],description_arr=[];
	if(credit_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	for(var i=0;i<credit_len;i++){
		title_arr.push(inputval("title_arr_"+credit_arr[i]));
		unit_arr.push(inputval("unit_arr_"+credit_arr[i]));
		description_arr.push(inputval("description_arr_"+credit_arr[i]));
	}
	datas={'credit':credit_arr,'title':title_arr,'unit':unit_arr,'description':description_arr};
	ajaxAction({'actionUrl':editurl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->