<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">

	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_dcid"
				onclick="checkedall(this.name,'dcid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="8%">排序</td>
			<td width="15%">调用名称</td>
			<td width="15%">{lang common:module}</td>
			<td width="15%">模块模板</td>
			<td width="12%">创建时间</td>
			<td width="25%">操作</td>
		</tr>
		<!--{if $pg['total_num']>=1}-->
		<!--{dbres $lists $val}-->
		<tr id="menu_list_{$val['dcid']}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="dcid_arr"
				value="{$val['dcid']}" /></td>
			<td width="6%">
				<!--{$val['dcid']}-->
			</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="dc_listorder_{$val['dcid']}" value="{$val['listorder']}" /></td>
			<td width="15%">
				<!--{$val['title']}-->
			</td>
			<td width="15%">
				<!--{echo get_module($val['module'],'title')}-->
			</td>
			<td width="15%">
				<!--{eval $datastyle=get_datastyle('dsid',$val['dsid'])}--> <!--{echo get_module($datastyle['module'],'title',$unknown)}-->
				<!--{unset $datastyle}-->
			</td>
			<td width="10%" class="color1">
				<!--{datestyle $val['ctime'],'Y-m-d H:i'}-->
			</td>
			<td width="25%" class="anc">
				<!--{eval $editurl=common_inc_module_datacall($val['module'],'datacall_set_url','edit','val',$pg['url_id'])}-->
				<span class="c_l"><a href="javascript:;"
					onclick="gourl('{modelurl $editurl,array('dcid'=>$val['dcid'])}')">编辑</a></span>
				<span class="c_l c_ml5px color1">|</span> <span class="c_l c_ml5px"><a
					href="javascript:;" onclick="">更新</a></span> <span
				class="c_l c_ml5px color1">|</span> <span class="c_l c_ml5px"><a
					href="javascript:;"
					onclick="datablock_tag('{echo common_datablock_code('sys',$val['dcid'])}')">内部调用</a></span>
				<span class="c_l c_ml5px color1">|</span> <span class="c_l c_ml5px"><a
					href="javascript:;"
					onclick="datablock_tag('{echo common_datablock_code('js',$val['dcid'])}')">外部调用</a></span>
			</td>
		</tr>
		<!--{/dbres}-->
		<!--{else}-->
		<tr id="clist_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="8"><font class="color6">{lang
					common:nonedata}</font></td>
		</tr>
		<!--{/if}-->

		<tr class="cont_dbg">
			<td colspan="8">
				<div class="c_l">
					<input type="checkbox" name="ck_dosign" value="1" />&nbsp;<span
						class="cont_c2">删?</span>&nbsp;&nbsp;<input type="button"
						class="cont_dod" id="dobt" value="提交"
						onclick="sldo('{modelurl 946}','{modelurl 947}')" />
				</div>
				<div class="c_r">
					<!--{modtemplate admin/template/page}-->
				</div>
			</td>
		</tr>
	</table>
	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'msg_call':'myalert','msg_call_b':'alertgo','msg_href':"{modelurl $callback_url}"}};
var button_ids="#dobt";
/*简单编辑,删除*/
function sldo(do_url_edit,do_url_del){
	var dcid_arr=cboxvals("dcid_arr");
	var dcid_arr_len=dcid_arr.length;
	var listorder_arr=[];
	if(dcid_arr_len<1){
		myalert({'msg_str':'请选择一个ID编号'});
		return false;
	}
	var datas='';
	if(cboxvals("ck_dosign").length<1){
		for(var i=0;i<dcid_arr_len;i++){
			listorder_arr.push(inputvals("dc_listorder_"+dcid_arr[i]));
		}
		datas={'dcid':dcid_arr,'listorder':listorder_arr};
		publishdo(do_url_edit,arr_merge(datas,callback_param),'',"",button_ids);
	}else{
		/*删除操作*/
		var alert_str='{lang admin:del}';
		datas={'alert_str':alert_str,'alert_callfunc':'alert_callback_func','buttons':button_ids,'url':do_url_del,'dcid':dcid_arr};
		datas=arr_merge(datas,callback_param);
		msgalert(datas);
	}
}
function datablock_tag(param){
	var html_str='<div class="wind_main">';
	html_str+='<div class="w_100">';
	html_str+='<div class="wind_main_info">';
	html_str+="<div class='w_100 fs14px'><input type='text' class='tbs cont_zt13' name='dc_listorder' value='"+param+"' /></div>";
	html_str+='<div class="clr"></div>';
	html_str+='</div>';
	html_str+='<div class="clr"></div>';
	html_str+='</div>';
	html_str+='<div class="clr"></div>';
	html_str+='</div>';
	
	gsw(5,2,'调用代码:',html_str,600,80);
}
</script>

<!--{modtemplate admin/template/adm_footer}-->