{modtemplate admin/template/adm_header}

<script type="text/javascript"
	src="{field:_G.web.staticpath/}js/swfupload.js"></script>
<script type="text/javascript"
	src="{field:_G.web.sourcepath/}module/common/admin/template/js/common_adm_emotional_upload.js"></script>
<script language="javascript">
var swfu;
</script>

<!--提示信息开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	<p class="c_mt5px c_ml5px color2 fw">提示:</p>
	<p class="c_mt5px c_ml5px color1">1.&nbsp;{field:upload_file_info/}</p>
	<p class="c_mt5px c_ml5px color1">2.&nbsp;{field:allow_num/}</p>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示信息结束-->


<!--内容开始-->
<div class="cont_z">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>分组类型:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="emotgroupid" class="cont_sh width180px">
						<option value="0">==请选择==</option> {dbres $emotGroupResult $val}
						<option value="{field:val.emotgroupid/}">{field:val.groupid/}{field:val.title/}</option>
						{/dbres}
					</select>
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li style="border: none;">
			<div class="c_l uploadbt c_ml5px">
				<div id="upload_bt"></div>
			</div>
			<div class="c_l c_ml10px c_mt5px">
				<a href="javascript:;"
					onclick="redirectUrl({'url':'{field:callback_url/}'})" />&laquo;返回列表</a>
			</div>
			<div class="clr"></div> <!--待上传列表开始-->
			<div class="c_w100 multipleupload_wait">
				<ul id="upload_list"></ul>
				<div class="clr"></div>
			</div>
			<div class="clr"></div> <!--待上传列表开始-->
		</li>

	</ul>
	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
swfu=common_adm_emotional_upload("{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_uploaddo'/}",'{field:filesize/}','{field:filetypes/}','{field:uid/}');
</script>

{modtemplate admin/template/adm_footer}
