{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--条件筛选开始-->
<div class="cont_z">
	<table>
		<tr>
			<td width="8%">分组:</td>
			<td width="92%"><span class="c_l"> <select
					name="q_emotgroupid" class="width160px cont_sh cont_zt0">
						<option value="0">全部</option> {eval $egrs=$eg->group_list();/}
						{dbres array_key_val(1,$egrs) $val}
						<option value="{field:val.emotgroupid/}"
							{if $val['emotgroupid']==$emotgroupid}selected="selected"{/if}>{field:val.title/}</option>
						{/dbres}
				</select>
			</span> <span class="c_l c_ml10px"> <select name="q_num"
					class="width100px cont_sh cont_zt0"> {loop $num_list $k
						$val}
						<option value="{field:k/}" {if $val['val']==$data_num}selected="selected"{/if}>{field:val.title/}</option>
						{/loop}
				</select>
			</span> <span class="c_l c_ml10px">
					<button type="button" class="cont_dod" id="query_bt"
						onclick="common_adm_emotional_query();">提交查询</button>
			</span> <span class="c_l c_ml10px"><input type="button"
					class="cont_dod" id="uploads" value="批量上传"
					onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_upload'/}'})" /></span>
			</td>
		</tr>
	</table>
</div>
<div class="clr"></div>
<!--条件筛选结束-->

<!--内容开始-->
<div class="cont_z">
	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_emotid"
				onclick="checkedall(this.name,'emotid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="10%">预览</td>
			<td width="10%">文件大小</td>
			<td width="10%">分组</td>
			<td width="8%">排序编号</td>
			<td width="20%">名称</td>
			<td width="32%">说明</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="emotid_{field:val.emotid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="emotid_arr"
				value="{field:val.emotid/}" /></td>
			<td width="6%" class="color1">{field:val.emotid/}</td>
			<td width="10%"><img src="{print show_uf($val['file_name'])/}" /></td>
			<td width="10%">{print
				format_file_size(get_filesize(show_uf($val['file_name'],true)))/}</td>
			<td width="10%">{print
				array_key_val('title',$eg->group_query('emotgroupid',$val['emotgroupid']),'<font
				class="color1">未知</font>')/}
			</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder_{field:val.emotid/}" value="{field:val.listorder/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="title_{field:val.emotid/}" value="{field:val.title/}" /></td>
			<td width="32%"><input type="text" class="cont_zt6"
				name="description_{field:val.emotid/}"
				value="{field:val.description/}" /></td>
		</tr>
		{/dbres} {else}
		<tr id="list_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="8" class="color6">{lang global:nodata/}</td>
		</tr>
		{/if}
		<tr class="cont_dbg">
			<td colspan="8"><span class="c_r">{modtemplate
					admin/template/page}</span></td>
		</tr>
		<tr style="border-bottom-style: dashed;">
			<td colspan="8"><strong>操作选项</strong></td>
		</tr>

		<tr id="do_s1" style="border-bottom-style: dashed;"
			onmouseover="currentbg(this)" onmouseout="currentbg(this,1)">
			<td width="4%"><input type="radio" name="ck_dosign"
				value="{field:doaction.edit.field/}" /></td>
			<td colspan="8"><span class="c_l">{field:doaction.edit.title/}</span>
			</td>
		</tr>

		<tr id="do_s2" style="border-bottom-style: dashed;"
			onmouseover="currentbg(this)" onmouseout="currentbg(this,1)">
			<td width="4%"><input type="radio" name="ck_dosign"
				value="{field:doaction.move.field/}" /></td>
			<td colspan="8"><span class="c_l">{field:doaction.move.title/}:</span>
				<span class="c_l c_ml5px"> <select name="emotgroupid"
					class="width160px cont_sh"> {eval
						$egrs=$eg->group_list();/} {dbres array_key_val(1,$egrs) $val}
						<option value="{field:val.emotgroupid/}">{field:val.title/}</option>
						{/dbres}
				</select>
			</span></td>
		</tr>

		<tr id="do_s3" style="border-bottom-style: dashed;"
			onmouseover="currentbg(this)" onmouseout="currentbg(this,1)">
			<td width="4%"><input type="radio" name="ck_dosign"
				value="{field:doaction.del.field/}" /></td>
			<td colspan="8"><span class="c_l">{field:doaction.del.title/}</span>
			</td>
		</tr>

		<tr style="border: none;">
			<td colspan="8"><script language="javascript">
                var vsign={'edit':"{field:doaction.edit.field/}",'move':"{field:doaction.move.field/}",'del':"{field:doaction.del.field/}"};
                var vdourl={'edit':"{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_baseedit'/}",'move':"{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_move'/}",'del':"{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_del'/}"};
            </script> <input type="button" class="cont_dod" id="dobt" value="提交"
				onclick="common_adm_emotional_listdo(vsign,vdourl)" /></td>
		</tr>

	</table>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#query_bt','#uploads','#dobt'];
function common_adm_emotional_query(){
	var emotgroupid=selectval("q_emotgroupid");
	var num=selectval("q_num");
	var datas={'emotgroupid':emotgroupid,'num':num};
	datas=arr_merge(datas,{'callback_param':{'callFunc':'redirectUrl','isajax':1}});
	ajaxAction({'actionUrl':"{url 'index','mod/common/ac/admin/op/emotional/ao/emot/bo/emot_qrs'/}",'actionData':datas,'offButton':button_ids,'urlTarget':_CJG.MF});
}
/*列表操作*/
function common_adm_emotional_listdo(vsign,vdourl){
	var emotid_arr=checkedval("emotid_arr");
	var emotid_len=emotid_arr.length;
	var listorder_arr=[],title_arr=[],description_arr=[];
	if(emotid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	switch(getboxfirst("ck_dosign")){
		case vsign.edit:
			for(var i=0;i<emotid_len;i++){
				listorder_arr.push(inputval("listorder_"+emotid_arr[i]));
				title_arr.push(inputval("title_"+emotid_arr[i]));
				description_arr.push(inputval("description_"+emotid_arr[i]));
			}
			datas={'emotid':emotid_arr,'listorder':listorder_arr,'title':title_arr,'description':description_arr};
			ajaxAction({'actionUrl':vdourl.edit,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
		break;
		case vsign.move:
			var emotgroupid=selectval('emotgroupid');
			if(check_nums(emotgroupid)<1){
				mydialog({'data':'请选择分组'});
				return false;
			}
			datas={'emotid':emotid_arr,'emotgroupid':emotgroupid};
			ajaxAction({'actionUrl':vdourl.move,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
		break;
		case vsign.del:
			datas=arr_merge({'emotid':emotid_arr},callback_param);
			mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':vdourl.del,'actionData':datas,'urlTarget':_CJG.MF}});
		break;
		default:
			return false;
		break;
	}
}
</script>

<!--{modtemplate admin/template/adm_footer}-->