{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--内容开始-->
<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>有效期限(天):</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="validday"
						value="{print config_val('validday',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">设置邀请码有效期限，如果购买后在有效期限内没有使用，则失效</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>消耗积分:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="cost"
						value="{print config_val('cost',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">
					设置购买一个邀请码，需要消耗的积分数值（<font class="color7">参数为大于或等于0的整数</font>）
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>消耗积分类型:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="costtype" class="width200px cont_sh"> {loop
						common_creditfield() $val}
						<option value="{field:val.field/}" {if $val['field']==config_val(
							'costtype',$sets)} selected="selected"{/if}>({field:val.unit/})&nbsp;{field:val.title/}</option>
						{/loop}
					</select>
				</div>
				<div class="cont_li_p2_2">设置定购买邀请码需要消耗的积分类型</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>允许购买的用户组:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval
					$costmembergroup=de_serialize(config_val('costmembergroup',$sets))/}

					{loop member_grouptype() $GTVal}
					<div class="clr"></div>
					<span class="c_l c_pt5px c_pb5px color1"><strong>{field:GTVal.title/}:</strong></span>
					<div class="clr"></div>

					{eval $index=0;/} {eval
					$memberGroupResult=member_group_getlist($GTVal['field']);/} {dbres
					array_key_val(1,$memberGroupResult) $val} {eval $index++;/} <span
						class="c_l c_mt5px width120px"><input type="checkbox"
						name="costmembergroup" {if
						str_in_array($val['groupid'],$costmembergroup)==1}
						checked="checked" {/if} value="{field:val.groupid/}" />&nbsp;{field:val.title/}</span>
					{if $index%3<1}
					<div class="clr"></div>
					{/if} {/dbres} {/loop}
					<div class="clr"></div>
				</div>
				<div class="cont_li_p2_2">指定允许哪些用户组可购买邀请码</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交" onclick="common_adm_invitecode_baseset()" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
var button_ids="#dobt";
function common_adm_invitecode_baseset(){
	var validday=inputval("validday");
	var cost=inputval("cost");
	var costtype=selectval("costtype");
	var costmembergroup=checkedval("costmembergroup");
	
	var datas={'validday':validday,'cost':cost,'costtype':costtype,'costmembergroup':costmembergroup};
	var do_url="{url 'index','mod/common/ac/admin/op/invitecode/ao/baseset_setdo'/}";
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->