{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--条件筛选开始-->
<div class="cont_z">
	<table>
		<tr>
			<td width="8%">状态:</td>
			<td width="92%"><span class="c_l"> <select name="status"
					class="width160px cont_sh cont_zt0">
						<option value="">全部</option> {loop
						common_value_get('invitecode_status') $val}
						<option value="{field:val.field/}" {if $status_field==$val[
							'field']} selected="selected"{/if}>{field:val.title/}</option>
						{/loop}
				</select>
			</span> <span class="c_l c_ml10px">
					<button type="button" class="cont_dod" id="query_bt"
						onclick="common_adm_invitecode_query();">提交查询</button>
			</span> <span class="c_l c_ml10px">
					<button type="button" class="cont_dod" id="create_bt"
						onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/invitecode/ao/manager_create'/}'})">邀请码生成</button>
			</span></td>
		</tr>

	</table>
</div>
<div class="clr"></div>
<!--条件筛选结束-->

<!--内容开始-->
<div class="cont_z">
	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_ids"
				onclick="checkedall(this.name,'invitecodeid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="14%">邀请码</td>
			<td width="14%">生成用户</td>
			<td width="14%">购买用户</td>
			<td width="14%">购买时间</td>
			<td width="14%">失效时间</td>
			<td width="6%">状态</td>
			<td width="14%">注册用户</td>
		</tr>

		{if $total_num>=1} {dbres $resultlist $val}
		<tr id="clist_{field:val.invitecodeid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="invitecodeid_arr"
				value="{field:val.invitecodeid/}" /></td>
			<td width="6%" class="color1">{field:val.invitecodeid/}</td>
			<td width="14%">{field:val.invitecode/}</td>
			<td width="14%">{eval $createmember=member_query($val['uid'])/}
				{if check_is_array($createmember)==1}
				<p>{print
					array_key_val('username',$createmember,'-')/}&nbsp;({print
					array_key_val('nickname',$createmember,'-')/})</p> {else} - {/if} {eval
				$createmember=NULL/}
			</td>
			<td width="14%">{eval $buymember=member_query($val['buyuid'])/}
				{if check_is_array($buymember)==1}
				<p>{print
					array_key_val('username',$buymember,'-')/}&nbsp;({print
					array_key_val('nickname',$buymember,'-')/})</p> {else} - {/if} {eval
				$buymember=NULL/}
			</td>
			<td width="14%">{if $val['buytime']} {datestyle
				$val['buytime'],'Y-m-d H:i:s'/} {else} - {/if}</td>
			<td width="14%">{if check_nums($validday)==1 && $val['buytime']}
				{datestyle op2num($val['buytime'],$validdaytime),'Y-m-d H:i:s'/}
				{else} - {/if}</td>
			<td width="6%">{if check_nums($val['buyuid'])<1} - {else} {if
				check_nums($val['registeruid'])==1} <span class="color1">{print
					common_value_get('invitecode_status','used','title')/}</span> {else} {if
				!is_expire($val['buytime'],$validdaytime)} <span class="color13">{print
					common_value_get('invitecode_status','notused','title')/}</span> {else} <span
				class="color7">{print
					common_value_get('invitecode_status','overdue','title')/}</span> {/if}
				{/if} {/if}
			</td>
			<td width="14%" class="anc">{eval
				$registermember=member_query($val['registeruid'])/} {if
				check_is_array($registermember)==1}
				<p>{print
					array_key_val('username',$registermember,'-')/}&nbsp;({print
					array_key_val('nickname',$registermember,'-')/})</p> {else} - {/if}
				{eval $registermember=NULL/}
			</td>
		</tr>
		{/dbres} {else}
		<tr id="clist_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="9" class="color6">{lang global:nodata/}</td>
		</tr>
		{/if}
		<tr class="cont_dbg">
			<td colspan="9">
				<div class="c_l">
					<input type="button" class="cont_dod" id="dobt" value="删除选中"
						onclick="common_adm_invitecode_listdo('{url 'index','mod/common/ac/admin/op/invitecode/ao/manager_del'/}')" />
				</div>
				<div class="c_r">{modtemplate admin/template/page}</div>
			</td>
		</tr>
	</table>
	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids=['#query_bt','#create_bt','#dobt'];
/*会员搜索_结果查询*/
function common_adm_invitecode_query(){
	var status=selectval('status');
	setHtmlData("#search_result",'');
	setHtmlDisplay("#search_loading");
	$("#search_loading img").attr("src",_CJG.sourcepath+"module/admin/template/image/loading.gif");
	var datas={'status':status};
	ajaxAction({'actionUrl':"{url 'index','mod/common/ac/admin/op/invitecode/ao/manager_qrs'/}",'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'showStatusId':"#search_loading",'urlTarget':_CJG.MF});
}
/*编辑&&删除*/
function common_adm_invitecode_listdo(delurl){
	var invitecodeid_arr=checkedval("invitecodeid_arr");
	var invitecodeid_len=invitecodeid_arr.length;
	if(invitecodeid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas=arr_merge({'invitecodeid':invitecodeid_arr},callback_param);
	mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':delurl,'actionData':datas,'urlTarget':_CJG.MF}});
	return false;
}
</script>

<!--{modtemplate admin/template/adm_footer}-->