<!--{modtemplate admin/template/adm_header}-->

<!--内容开始-->
<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>生成数量:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="num" value="0" />
				</div>
				<div class="cont_li_p2_2">批量生成邀请码的个数，每次为1~100之间的整数</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="提交" onclick="common_adm_invitecode_create()" /></span> <span
			class="c_l c_ml10px"><button type="button" class="cont_dod"
				id="gobt" onclick="redirectUrl({'url':'{field:callback_url/}'})">返回</button></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids=["#dobt","#gobt"];
function common_adm_invitecode_create(){
	var num=inputval("num");
	var datas={'num':num};
	var do_url="{url 'index','mod/common/ac/admin/op/invitecode/ao/manager_createdo'/}";
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->