<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">
	<ul>
		<li>
			<div class="cont_li_p1">
				<strong>排序编号:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="listorder"
						value="{print array_key_val('listorder',$navsub,0)/}" />
				</div>
				<div class="cont_li_p2_2 alc">排序编号，用于名称排列位置顺序</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航名称:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="title"
						value="{print array_key_val('title',$navsub)/}" />
				</div>
				<div class="cont_li_p2_2 alc">要显示的导航名称</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航链接:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="navurl"
						value="{print array_key_val('navurl',$navsub)/}" />
				</div>
				<div class="cont_li_p2_2 alc">导航名称的链接地址</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航参数名:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="ofkey"
						value="{print array_key_val('ofkey',$navsub)/}" />
				</div>
				<div class="cont_li_p2_2 alc">
					导航参数名，用于获取指定该链接的参数<font class="color7">(如:index.php?mod=article,则为mod)</font>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航参数值:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="ofval"
						value="{print array_key_val('ofval',$navsub)/}" />
				</div>
				<div class="cont_li_p2_2 alc">
					导航参数值，指定该参数值来判断是否为当前导航<font class="color7">(如:index.php?mod=article,则为article)</font>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航位于:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="new_navid" class="width160px cont_sh">
						<option value="0">==作为顶级导航==</option> {field:nav_options/}
					</select>
				</div>
				<div class="cont_li_p2_2 alc">指定导航位于</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>模块类型:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="module" class="width160px cont_sh">
						<option value="">==请选择==</option> {loop get_module_installed()
						$val}
						<option value="{field:val.module/}"
							{if $val['module']==array_key_val(
							'module',$navsub)}selected="selected" {/if} />{field:val.name/}
						</option> {/loop}
					</select>
				</div>
				<div class="cont_li_p2_2 alc">模块类型</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>导航显示方式:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="navxy" class="width160px cont_sh"> {eval
						$default_navxy=config_value_get('nav_xy','x','val');/} {loop
						config_value_get('nav_xy') $val}
						<option value="{field:val.val/}" {if $val['val']==array_key_val(
							'navxy',$navsub,$default_navxy)}selected="selected" {/if} />{field:val.title/}
						</option> {/loop}
					</select>
				</div>
				<div class="cont_li_p2_2 alc">指定导航显示方式</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>链接打开方式:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="target" class="width160px cont_sh"> {eval
						$default_url_target=config_value_get('url_target','self','val');/}
						{loop config_value_get('url_target') $val}
						<option value="{field:val.val/}" {if $val['val']==array_key_val(
							'target',$navsub)}selected="selected" {/if} />{field:val.title/}
						</option> {/loop}
					</select>
				</div>
				<div class="cont_li_p2_2 alc">指定链接打开方式</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>是否可用:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $index=0;/} {loop yesno_val() $val} {eval $index++;/} <span
						class="c_l {if $index>1}c_ml10px{/if}"><input type="radio"
						name="disabled" value="{field:val.val/}" {if
						array_key_val('disabled',$navsub,yesno_val('check'))==$val[
						'val']} checked="checked" {/if} />&nbsp;{field:val.title/}</span> {/loop}
				</div>
				<div class="cont_li_p2_2 alc">导航名称是否可用，选择“是”将显示，选择“否”将不显示</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="common_adm_nav_editset('{field:saveurl/}','{print array_key_val('navid',$navsub)/}')" /></span>
		<span class="c_l c_ml10px"><input type="button"
			class="cont_dod" id="gobt" value="返回"
			onclick="redirectUrl({'url':'{field:callback_url/}'})" /></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
/*导航编辑*/
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=["#dobt","#gobt"];
function common_adm_nav_editset(do_url,navid){
	var module=selectval('module');
	var listorder=inputval('listorder');
	var title=inputval('title');
	var navurl=inputval('navurl');
	var ofkey=inputval('ofkey');
	var ofval=inputval('ofval');
	var new_navid=selectval('new_navid');
	var navxy=selectval('navxy');
	var target=selectval('target');
	var disabled=getboxfirst('disabled','name',"{print yesno_val('check')/}");
	
	var datas={'navid':navid,'module':module,'listorder':listorder,'title':title,'navurl':navurl,'ofkey':ofkey,'ofval':ofval,'new_navid':new_navid,'navxy':navxy,'target':target,'disabled':disabled};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->