{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--提示开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	<p class="c_mt5px c_ml5px color2 fw">提示:</p>
	<p class="c_mt5px c_ml5px color1">1、按需求添加模块类型，(模块类型为:已安装的模块类型)</p>
	<p class="c_mt5px c_ml5px color1">2、若删除此模块类型，其表态动作也将同时删除</p>
	<p class="c_mt5px c_ml5px color1">3、站点运营一段时间后，若删除则统计数据将不会被保留</p>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示结束-->

<!--内容开始-->
<div class="cont_z">
	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_sensetypeid"
				onclick="checkedall(this.name,'sensetypeid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="8%">排序编号</td>
			<td width="20%">模块类型</td>
			<td width="42%">类型名称</td>
			<td width="20%">操作时间</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="sensetypeid_{field:val.sensetypeid/}"
			onmouseover="currentbg(this)" onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="sensetypeid_arr"
				value="{field:val.sensetypeid/}" /></td>
			<td width="6%" class="color1">{field:val.sensetypeid/}</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder_{field:val.sensetypeid/}"
				value="{field:val.listorder/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="module_{field:val.sensetypeid/}" value="{field:val.module/}" /></td>
			<td width="42%"><input type="text" class="cont_zt6"
				name="title_{field:val.sensetypeid/}" value="{field:val.title/}" /></td>
			<td width="20%" class="color1">{datestyle $val['ctime'],'Y-m-d
				H:i'/}</td>
		</tr>
		{/dbres} {/if}
		<tr id="menu_list_p" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="10%" colspan="2" style="text-align: right;"><span
				class="cont_c2">添加:</span></td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder" value="" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="module" /></td>
			<td width="42%"><input type="text" class="cont_zt6" name="title" /></td>
			<td width="20%" colspan="3"><input type="button"
				class="cont_dod" id="pbt" value="添加"
				onclick="common_adm_sensetype_add('{url 'index','mod/common/ac/admin/op/sense/ao/type/bo/type_baseadd'/}')" /></td>
		</tr>
		<tr class="cont_dbg">
			<td colspan="6"><span class="c_l"> <input type="checkbox"
					name="ck_dosign" value="1" />&nbsp;<span class="cont_c2">删?</span>&nbsp;&nbsp;<input
					type="button" class="cont_dod" id="dobt" value="提交"
					onclick="common_adm_sensetype_listdo('{url 'index','mod/common/ac/admin/op/sense/ao/type/bo/type_baseedit'/}','{url 'index','mod/common/ac/admin/op/sense/ao/type/bo/type_del'/}')" /></span>
			</td>
		</tr>
	</table>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#pbt','#dobt'];
/*添加*/
function common_adm_sensetype_add(do_url){
	var listorder=inputval("listorder");
	var module=inputval("module");
	var title=inputval("title");
	var datas={'listorder':listorder,'module':module,'title':title};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
/*列表操作*/
function common_adm_sensetype_listdo(editurl,delurl){
	var sensetypeid_arr=checkedval("sensetypeid_arr");
	var sensetypeid_len=sensetypeid_arr.length;
	var listorder_arr=[],module_arr=[],title_arr=[];
	if(sensetypeid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	if(!isVal(getboxfirst("ck_dosign"))){
		/*编辑操作*/
		for(var i=0;i<sensetypeid_len;i++){
			listorder_arr.push(inputval("listorder_"+sensetypeid_arr[i]));	
			module_arr.push(inputval("module_"+sensetypeid_arr[i]));
			title_arr.push(inputval("title_"+sensetypeid_arr[i]));	
		}
		datas={'sensetypeid':sensetypeid_arr,'listorder':listorder_arr,'module':module_arr,'title':title_arr};
		ajaxAction({'actionUrl':editurl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
	}else{
		/*删除操作*/
		datas=arr_merge({'sensetypeid':sensetypeid_arr},callback_param);
		mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':delurl,'actionData':datas,'urlTarget':_CJG.MF}});
	}
}
</script>

<!--{modtemplate admin/template/adm_footer}-->