{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--提示信息开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	<p class="c_mt5px c_ml5px color2 fw">提示:</p>
	<p class="c_mt5px c_ml5px color1">1、文件目录为{field:_G.web.staticpath/}image/下</p>
	<p class="c_mt5px c_ml5px color1">2、表态动作用于游客/会员可对（如:浏览文章详细内容）进行表态，最多可支持{print
		common_value_get('sense_num','num')/}项</p>
	<p class="c_mt5px c_ml5px color1">3、站点运营一段时间后，若删除表态动作，统计数据将不会被保留</p>
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示信息结束-->


<!--条件筛选开始-->
<div class="cont_z">
	<table>
		<tr>
			<td width="8%">模块类型:</td>
			<td width="92%"><span class="c_l"> <select
					name="q_sensetypeid" class="width160px cont_sh cont_zt0">
						<option value="0">全部</option> {eval $trs=$t->type_list();/} {dbres
						array_key_val(1,$trs) $val}
						<option value="{field:val.sensetypeid/}"
							{if $val['sensetypeid']==$sensetypeid}selected="selected"{/if}>{field:val.title/}</option>
						{/dbres}
				</select>
			</span> <span class="c_l c_ml10px">
					<button type="button" class="cont_dod" id="query_bt"
						onclick="common_adm_sense_query();">提交查询</button>
			</span></td>
		</tr>
	</table>
</div>
<div class="clr"></div>
<!--条件筛选结束-->

<!--内容开始-->
<div class="cont_z">
	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_senseid"
				onclick="checkedall(this.name,'senseid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="10%">预览</td>
			<td width="16%">模块类型</td>
			<td width="8%">排序编号</td>
			<td width="20%">动作名称</td>
			<td width="20%">文件路径</td>
			<td width="16%">可用</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="senseid_{field:val.senseid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="senseid_arr"
				value="{field:val.senseid/}" /></td>
			<td width="6%" class="color1">{field:val.senseid/}</td>
			<td width="10%"><img
				src="{field:_G.web.staticpath/}image/{field:val.filename/}" /></td>
			<td width="16%">{print
				array_key_val('title',$t->type_query('sensetypeid',$val['sensetypeid']),'<font
				class="color1">未知</font>')/}
			</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder_{field:val.senseid/}" value="{field:val.listorder/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="title_{field:val.senseid/}" value="{field:val.title/}" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="filename_{field:val.senseid/}" value="{field:val.filename/}" /></td>
			<td width="16%"><input type="checkbox"
				name="disabled_{field:val.senseid/}"
				value="{print yesno_val('normal')/}"
				{if $val['disabled']!=yesno_val( 'check')} checked="checked" {/if} /></td>
		</tr>
		{/dbres} {/if}

		<tr id="list_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="3" width="20%" class="color6"><span
				class="c_r c_mr10px">添加:</span></td>
			<td width="16%"><select name="sensetypeid"
				class="width160px cont_sh"> {eval $trs=$t->type_list();/}
					{dbres array_key_val(1,$trs) $val}
					<option value="{field:val.sensetypeid/}">{field:val.title/}</option>
					{/dbres}
			</select></td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder" value="" /></td>
			<td width="20%"><input type="text" class="cont_zt6" name="title"
				value="" /></td>
			<td width="20%"><input type="text" class="cont_zt6"
				name="filename" value="" /></td>
			<td width="16%"><input type="checkbox" name="disabled"
				value="{print yesno_val('normal')/}" />&nbsp;&nbsp;&nbsp; <input
				type="button" class="cont_dod" id="pbt" value="添加"
				onclick="common_adm_sense_add('{url 'index','mod/common/ac/admin/op/sense/ao/sense/bo/sense_baseadd'/}')" /></td>
		</tr>

		<tr class="cont_dbg">
			<td colspan="8"><script language="javascript">
            var vsign={'edit':"{field:doaction.edit.field/}",'del':"{field:doaction.del.field/}"};
        	var vdourl={'edit':"{url 'index','mod/common/ac/admin/op/sense/ao/sense/bo/sense_baseedit'/}",'del':"{url 'index','mod/common/ac/admin/op/sense/ao/sense/bo/sense_del'/}"};
		</script> <span class="c_l"> <input type="checkbox" name="ck_dosign"
					value="{field:doaction.del.field/}" />&nbsp;<span class="cont_c2">删?</span>&nbsp;&nbsp;<input
					type="button" class="cont_dod" id="dobt" value="提交"
					onclick="common_adm_sense_listdo(vsign,vdourl)" /></span></td>
		</tr>

	</table>
	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#query_bt','#pbt','#dobt'];
function common_adm_sense_query(){
	var sensetypeid=selectval("q_sensetypeid");
	var datas={'sensetypeid':sensetypeid};
	datas=arr_merge(datas,{'callback_param':{'callFunc':'redirectUrl','isajax':1}});
	ajaxAction({'actionUrl':"{url 'index','mod/common/ac/admin/op/sense/ao/sense/bo/sense_qrs'/}",'actionData':datas,'offButton':button_ids});
	return false;
}
function common_adm_sense_add(do_url){
	var sensetypeid=selectval("sensetypeid");
	var listorder=inputval("listorder");
	var title=inputval("title");
	var filename=inputval("filename");
	var disabled=getboxfirst('disabled','name',"{print yesno_val('check')/}");
	var datas={'sensetypeid':sensetypeid,'listorder':listorder,'title':title,'filename':filename,'disabled':disabled};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
	return false;
}
/*列表操作*/
function common_adm_sense_listdo(vsign,vdourl){
	var senseid_arr=checkedval("senseid_arr");
	var senseid_len=senseid_arr.length;
	var listorder_arr=[],title_arr=[],filename_arr=[],disabled_arr=[];
	if(senseid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas={};
	switch(getboxfirst("ck_dosign")){
		case vsign.del:
			datas=arr_merge({'senseid':senseid_arr},callback_param);
			mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':vdourl.del,'actionData':datas,'urlTarget':_CJG.MF}});
		break;
		default:
			for(var i=0;i<senseid_len;i++){
				listorder_arr.push(inputval("listorder_"+senseid_arr[i]));
				title_arr.push(inputval("title_"+senseid_arr[i]));
				filename_arr.push(inputval("filename_"+senseid_arr[i]));
				disabled_arr.push(getboxfirst("disabled_"+senseid_arr[i],'name',"{print yesno_val('check')/}"));
			}
			datas={'senseid':senseid_arr,'listorder':listorder_arr,'title':title_arr,'filename':filename_arr,'disabled':disabled_arr};
			ajaxAction({'actionUrl':vdourl.edit,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
		break;
	}
	return false;
}
</script>

<!--{modtemplate admin/template/adm_footer}-->