{modtemplate admin/template/adm_header}

<!--内容开始-->
<div class="cont_z">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>临时附件保存期限(小时):</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="temp_attach_expire"
						value="{print config_val('temp_attach_expire',$sets,1)/}" />
				</div>
				<div class="cont_li_p2_2">根据站点设置参数,设置范围（1~），设置过大会增加服务器资源开销</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		{eval
		$thumb_clear_time=de_serialize(config_val('thumb_clear_time',$sets));/}
		<li>
			<div class="cont_li_p1">
				<strong>附件缩略图清理时间段:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<span class="c_l"> <select name="thumb_clear_start_hour"
						class="width60px cont_sh"> {for $i=0;$i<24;$i++}
							<option value="{field:i/}" {if
								array_key_val('start_hour',$thumb_clear_time)==$i}selected= "selected"{/if}  />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
        </select>&nbsp;<strong>点</strong>
					</span> <span class="c_l c_ml5px"><strong>~</strong></span> <span
						class="c_l c_ml5px"> <select name="thumb_clear_end_hour"
						class="width60px cont_sh"> {for $i=0;$i<24;$i++}
							<option value="{field:i/}" {if
								array_key_val('end_hour',$thumb_clear_time)==$i}selected= "selected"{/if} />{if
							$i<10}0{/if}{field:i/}
							</option>
            {/for}
        </select>&nbsp;<strong>点</strong>
					</span>

				</div>
				<div class="cont_li_p2_2">设置附件所生成的缩略图清理，根据站点设置时间段，减少服务器资源开销</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>会员在线保持(分钟):</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="onlinehold"
						value="{print config_val('onlinehold',$sets)/}" />
				</div>
				<div class="cont_li_p2_2">根据站点设置参数,设置范围（5~），设置过小或过大都会增加服务器资源开销</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交" onclick="common_adm_serveroptimize_set()" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
var button_ids="#dobt";

function common_adm_serveroptimize_set(){
	var _temp_attach_expire=inputval("temp_attach_expire");
	var _thumb_clear_start_hour=selectval("thumb_clear_start_hour");
	var _thumb_clear_end_hour=selectval("thumb_clear_end_hour");
	var _onlinehold=inputval("onlinehold");
	
	var datas={
		'temp_attach_expire':_temp_attach_expire,
		'thumb_clear_time':{'start_hour':_thumb_clear_start_hour,'end_hour':_thumb_clear_end_hour},
		'onlinehold':_onlinehold
		};
	
	var do_url="{url 'index','mod/common/ac/admin/op/set/ao/serveroptimize_do'/}";
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>

{modtemplate admin/template/adm_footer}
