<!--{modtemplate admin/template/adm_header}-->

<!--内容开始-->
<div class="cont_z">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>默认时区:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<p>
						<select name="timezone" class="cont_sh">
							<option value="">==请选择==</option> {loop $datezoneArr $val}
							<option value="{field:val.0/}" {if
								config_val('timezone',$sets)==$val[0]}selected="selected"{/if}>{field:val.1/}</option>
							{/loop}
						</select>
					</p>
					<p class="c_mt10px">
						<input type="text" class="cont_z_txt" name="timeoffset"
							value="{print config_val('timeoffset',$sets)/}" />
					</p>
				</div>
				<div class="cont_li_p2_2">
					<p class="color1">系统默认时间显示</p>
					<p class="color1">如果站点显示时间与服务器时间有差异，可输入参数进行微调，以“分钟”为单位</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="提交" onclick="common_adm_setting()" /></span>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
var button_ids="#dobt";
function common_adm_setting(do_url){
	var timezone=selectval("timezone");
	var timeoffset=inputval("timeoffset");
	var datas={'timezone':timezone,'timeoffset':timeoffset};
	var do_url="{url 'index','mod/common/ac/admin/op/set/ao/setting_do'/}";
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
</script>
<!--{modtemplate admin/template/adm_footer}-->