{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<div class="cont_z">

	<table>
		<tr class="cont_zbg">
			<td width="4%"><input type="checkbox" name="ck_cdataid"
				onclick="checkedall(this.name,'cdataid_arr')" /></td>
			<td width="6%">ID编号</td>
			<td width="8%">排序编号</td>
			<td width="35%">标题</td>
			<td width="12%">组名称</td>
			<td width="12%">时间</td>
			<td width="8%">可用</td>
			<td width="15%">操作</td>
		</tr>

		{if array_key_val('total_num',$pg)>=1} {dbres $result $val}
		<tr id="cdataid_{field:val.cdataid/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="4%"><input type="checkbox" name="cdataid_arr"
				value="{field:val.cdataid/}" /></td>
			<td width="6%" class="color1">{field:val.cdataid/}</td>
			<td width="8%"><input type="text" class="cont_zt7"
				name="listorder_{field:val.cdataid/}" value="{field:val.listorder/}" /></td>
			<td width="35%" class="anc">{field:val.title/}</td>
			<td width="12%">{eval
				$showgroup=$g->group_query('cgroupid',$val['cgroupid'])/} {print
				array_key_val('title',$showgroup,'unknown')/} {eval
				$showgroup=NULL/}</td>
			<td width="12%" class="color1">{datestyle $val['ctime'],'Y-m-d
				H:i'/}</td>
			<td width="8%"><input type="checkbox"
				value="{print yesno_val('normal')/}"
				name="status_{field:val.cdataid/}" {if $val['status']==yesno_val(
				'normal')} checked="checked" {/if} /></td>
			<td width="15%" class="anc"><a href="javascript:;"
				onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/show/ao/data/bo/data_edit/cdataid/'.$val['cdataid']/}'});">编辑</a></td>
		</tr>
		{/dbres} {else}
		<tr id="cdataid_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="8"><font class="color6">暂无数据内容</font></td>
		</tr>
		{/if}
		<tr class="cont_dbg">
			<td colspan="8"><span class="c_l"><input type="checkbox"
					name="ck_dosign" value="1" />&nbsp;<span class="cont_c2">删?</span>&nbsp;&nbsp;<input
					type="button" class="cont_dod" id="dobt" value="提交"
					onclick="common_adm_showdata_listdo('{url 'index','mod/common/ac/admin/op/show/ao/data/bo/data_baseedit'/}','{url 'index','mod/common/ac/admin/op/show/ao/data/bo/data_del'/}')" /></span>
				<span class="c_l c_ml10px"><input type="button"
					class="cont_dod" id="addbt" value="添加"
					onclick="redirectUrl({'url':'{url 'index','mod/common/ac/admin/op/show/ao/data/bo/data_add'/}'})" /></span>
				<span class="c_r">{modtemplate admin/template/page}</span></td>
		</tr>
	</table>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':"{field:callback_url/}",'isajax':1}};
var button_ids=['#dobt','#addbt'];
/*列表操作*/
function common_adm_showdata_listdo(editurl,delurl){
	var cdataid_arr=checkedval("cdataid_arr");
	var cdataid_len=cdataid_arr.length;
	var listorder_arr=[],status_arr=[];
	if(cdataid_len<1){
		mydialog({'data':'{lang global:select_is_null/}'});
		return false;
	}
	var datas='';
	if(!isVal(getboxfirst("ck_dosign"))){
		/*编辑操作*/
		for(var i=0;i<cdataid_len;i++){
			listorder_arr.push(inputval("listorder_"+cdataid_arr[i]));
			status_arr.push(getboxfirst("status_"+cdataid_arr[i],'name',"{print yesno_val('check')/}"));	
		}
		datas={'cdataid':cdataid_arr,'listorder':listorder_arr,'status':status_arr};
		ajaxAction({'actionUrl':editurl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'urlTarget':_CJG.MF});	
	}else{
		/*删除操作*/
		datas=arr_merge({'cdataid':cdataid_arr},callback_param);
		mydialog({'data':'{lang global:del_info_prompt/}','showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':delurl,'actionData':datas,'urlTarget':_CJG.MF}});
	}
}
</script>

<!--{modtemplate admin/template/adm_footer}-->