<!--{modtemplate admin/template/adm_header}-->

<script type="text/javascript"
	src="{field:_G.web.staticpath/}js/swfupload.js"></script>
<script type="text/javascript"
	src="{field:_G.web.sourcepath/}module/common/admin/template/js/common_adm_showdata_coverupload.js"></script>
<script language="javascript">
var swfu='';
</script>

<div class="cont_z">
	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>排序:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="listorder"
						value="{print array_key_val('listorder',$showdata,0)/}" />
				</div>
				<div class="cont_li_p2_2">指定显示顺序</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>标题:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="title"
						value="{print array_key_val('title',$showdata)/}" />
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>URL链接:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="url"
						value="{print array_key_val('url',$showdata)/}" />
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>组类型:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<select name="cgroupid" class="width200px cont_sh">
						<option value="0">==请选择==</option> {dbres $showgroup_list $val}
						<option value="{field:val.cgroupid/}" {if
							array_key_val('cgroupid',$showdata)==$val[
							'cgroupid']} selected="selected"{/if}>{field:val.title/}</option>
						{/dbres}
					</select>
				</div>
				<div class="cont_li_p2_2">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>封面图片:</strong>
			</div>
			<div class="clr"></div>

			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<div class="c_w100">
						{eval $index=0;/} {loop yesno_val() $val} {eval $index++;/} <span
							class="c_l {if $index!=1}c_ml10px{/if}"><input
							type="radio" name="covertype" id="covertype_{field:val.val/}"
							value="{field:val.val/}" {if
							array_key_val('covertype',$showdata,yesno_val('normal'))==$val[
							'val']} checked="checked"
							{/if} onclick="common_adm_showdata_covertype({field:val.val/},1)" />&nbsp;{field:val.title6/}</span>
						{/loop}
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
					<div class="c_w100 c_mt5px">
						<div class="c_l c_none" id="coverimage_0">
							<input type="text" class="cont_z_txt" name="cover_web_image"
								value="{if array_key_val('covertype',$showdata,yesno_val('normal'))!=yesno_val('check')}{print array_key_val('coverimage',$showdata)/}{/if}" />
						</div>
						<div class="c_l c_none" id="coverimage_1">
							<span class="c_l"><input type="text" class="cont_z_txt"
								name="cover_upload_image"
								value="{if array_key_val('covertype',$showdata,yesno_val('normal'))==yesno_val('check')}{print array_key_val('coverimage',$showdata)/}{/if}" /></span>
							<span class="c_l c_ml5px cover_upload_bt"><p
									id="upload_bt"></p></span> <span class="c_l c_ml5px c_mt2px color6"
								id="cover_upload_msg"></span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="clr"></div>
				</div>
				<div class="cont_li_p2_2">
					<p class="cont_c1">&nbsp;</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>是否可用:</strong>
			</div>
			<div class="clr"></div>

			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $index=0;/} {loop yesno_val() $val} {eval $index++;/} <span
						class="c_l {if $index!=1}c_ml10px{/if}"><input type="radio"
						name="status" value="{field:val.val/}" {if
						array_key_val('status',$showdata,yesno_val('normal'))==$val[
						'val']} checked="checked" {/if} />&nbsp;{field:val.title/}</span> {/loop}
				</div>
				<div class="cont_li_p2_2">
					<p class="cont_c1">&nbsp;</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>简介:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<textarea class="tbs tbs2" style="width: 600px; height: 148px;"
						name="description">{print array_key_val('description',$showdata)/}</textarea>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l cont_dobt"> <input type="button"
			class="cont_dod" id="dobt" value="提交"
			onclick="common_adm_showdata_edit()" />
		</span> <span class="c_l c_ml10px"><input type="button"
			class="cont_dod" id="gobt" value="返回"
			onclick="redirectUrl({'url':'{field:callback_url/}'})" /></span>
		<div class="clr"></div>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var back_call_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids=["#dobt","#gobt"];
var _V={
	'cdataid':"{print array_key_val('cdataid',$showdata,0)/}",
	'SubmitUrl':"{field:save_url/}",
	'coverUploadUrl':"{url 'index','mod/common/ac/admin/op/show/ao/data/bo/data_coverupload'/}"
};
function common_adm_showdata_edit(){
	var title=inputval("title");
	var listorder=inputval("listorder");
	var url=inputval("url");
	var cgroupid=selectval("cgroupid");
	var covertype=getboxfirst("covertype");
	var coverimage=inputval("cover_web_image");
	var status=getboxfirst("status");
	var description=textareaval("description");
	var datas={'cdataid':_V.cdataid,'title':title,'listorder':listorder,'url':url,'cgroupid':cgroupid,'covertype':covertype,'coverimage':coverimage,'status':status,'description':description};
	ajaxAction({'actionUrl':_V.SubmitUrl,'actionData':arr_merge(datas,back_call_param),'offButton':button_ids,'urlTarget':_CJG.MF});
}
$(document).ready(function(){
    common_adm_showdata_covertype("{print array_key_val('covertype',$showdata,yesno_val('normal'))/}");
});
function common_adm_showdata_covertype(type,isGet){
	if(isGet==1){
		type=getboxfirst('covertype');
	}
	if(type!=1){
		setHtmlDisplay("#coverimage_0");
		setHtmlDisplay("#coverimage_1","none");
	}else{
		setHtmlDisplay("#coverimage_0","none");
		setHtmlDisplay("#coverimage_1");
	}
}
swfu=showdata_cover_upload(_V.coverUploadUrl,'{field:filesize/}','{field:filetypes/}','{field:uid/}',_V.cdataid);
</script>

<!--{modtemplate admin/template/adm_footer}-->