<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>站点状态:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $index=0;/} {loop common_value_get('site_status') $val} {eval
					$index++;/}
					<p class="{if $index>1}c_mt5px{/if}">
						<input type="radio" name="site_status" id="{field:val.field/}"
							value="{field:val.field/}" {if
							config_val('site_status',$sets)==$val[
							'field']} checked="checked"
							{/if} onclick="adm_showCurrentItem({'val':'{field:val.field/}'})" />&nbsp;{field:val.title/}
					</p>
					<div class="clr"></div>
					{/loop}
				</div>
				<div class="cont_li_p2_2">
					{eval $index=0;/} {loop common_value_get('site_status') $val} {eval
					$index++;/}
					<p class="{if $index>1}c_mt5px{/if} color1">{field:val.description/}</p>
					<div class="clr"></div>
					{/loop}
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<!--限制访问开始-->
		<li fielditem="limited" class="c_none">
			<div class="cont_li_p1">
				<strong>允许访问的用户组:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					{eval $limited_membergroup=NULL/} {if
					config_val('site_status',$sets)==common_value_get('site_status','limited','field')}
					{eval
					$limited_membergroup=array_key_val('membergroup',$site_status_item)/}
					{/if} {eval $index=0;/} {loop member_grouptype() $GTVal}

					<div class="clr"></div>
					<span class="c_l c_pt5px c_pb5px color1"><strong>{field:GTVal.title/}:</strong></span>
					<div class="clr"></div>

					{eval $memberGroupResult=member_group_getlist($GTVal['field']);/}
					{dbres array_key_val(1,$memberGroupResult) $val} {eval $index++;/}
					<span class="c_l c_mt5px width120px"><input type="checkbox"
						name="site_status_limited_membergroup" {if
						config_val('site_status',$sets)==common_value_get(
						'site_status','limited','field')}{if
						str_in_array($val['groupid'],$limited_membergroup)==1}
						checked="checked" {/if}{/if} value="{field:val.groupid/}" />&nbsp;{field:val.title/}</span>
					{if $index%3<1}
					<div class="clr"></div>
					{/if} {/dbres} {/loop}
				</div>
				<div class="cont_li_p2_2">指定允许哪些用户组可访问站点</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li fielditem="limited" class="c_none">
			<div class="cont_li_p1">
				<strong>特定会员:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<textarea class="cont_z_txts" name="site_status_limited_username">{if config_val('site_status',$sets)==common_value_get('site_status','limited','field')}{print array_key_val('username',$site_status_item)/}{/if}</textarea>
				</div>
				<div class="cont_li_p2_2">指定可允许访问站点的会员，多个会员用户名请使用英文半角逗号“,”分隔</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
		<li fielditem="limited" class="c_none">
			<div class="cont_li_p1">
				<strong>限制原因:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<textarea class="cont_z_txts" name="site_status_limited_msg">{if config_val('site_status',$sets)==common_value_get('site_status','limited','field')}{print array_key_val('msg',$site_status_item)/}{/if}</textarea>
				</div>
				<div class="cont_li_p2_2">当站点处于限制访问时，对其他人访问站点的提示信息</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
		<!--限制访问结束-->

		<!--关闭访问开始-->
		<li fielditem="close" class="c_none">
			<div class="cont_li_p1">
				<strong>关闭原因:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<textarea class="cont_z_txts" name="site_status_close_msg">{if config_val('site_status',$sets)==common_value_get('site_status','close','field')}{print array_key_val('msg',$site_status_item)/}{/if}</textarea>
				</div>
				<div class="cont_li_p2_2">当站点关闭后，游客访问站点的提示信息</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
		<!--关闭访问结束-->
	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="common_adm_sitecontrol_set('{url 'index','mod/common/ac/admin/op/set/ao/sitecontrol_do'/}')" /></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','isajax':1}};
/*初始化状态选项*/
var _set_siteStatus={
	<!--{eval $index=0;/}-->
	<!--{loop common_value_get('site_status') $val}-->
	<!--{eval $index++;/}-->
	<!--{if $index>1}-->,<!--{/if}-->"{field:val.field/}":"{field:val.field/}"
	<!--{/loop}-->
};
$(document).ready(function(){
	var _defaultStatus="{print config_val('site_status',$sets)/}";
	if(!isVal(_defaultStatus)){
		_defaultStatus=_set_siteStatus.close;
	}
	adm_showCurrentItem({'val':_defaultStatus})
	setchecked(_defaultStatus,"id",true);
});
/*站点信息操作*/
function common_adm_sitecontrol_set(do_url){
	window.top.dialogClose();
	/*保存站点状态选项数据*/
	var site_status_item=null;
	/*获取值*/
	var site_status=getboxfirst("site_status");
	switch(site_status){
		case _set_siteStatus.normal:
			
		break;
		case _set_siteStatus.limited:
			var site_status_limited_membergroup=checkedval("site_status_limited_membergroup");
			var site_status_limited_username=textareaval("site_status_limited_username");
			var site_status_limited_msg=textareaval("site_status_limited_msg");
			site_status_item={'membergroup':site_status_limited_membergroup,'username':site_status_limited_username,'msg':site_status_limited_msg};
		break;
		case _set_siteStatus.close:
			var site_status_close_msg=textareaval("site_status_close_msg");
			site_status_item={'msg':site_status_close_msg};
		break;
	}
	var close_inform=textareaval("close_inform");
	
	var datas={'site_status':site_status,'site_status_item':site_status_item};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':'#dobt'});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->