{eval $isshowmenuitem=true/} {modtemplate admin/template/adm_header}

<!--提示开始-->
<div class="c_w100 c_mt5px adm_bb_dashed c_pb10px">
	<!--{modtemplate admin/template/site_variable_global}-->
	<div class="clr"></div>
</div>
<div class="clr"></div>
<!--提示结束-->

<!--内容开始-->
<div class="cont_z">
	<ul>
		<li class="cont_zbg"><p class="cont_tlabel">
				<strong>首页</strong>
			</p></li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>title:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_title"
						value="{print config_val('index_title',$seo)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>keywords:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_keywords"
						value="{print config_val('index_keywords',$seo)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>description:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input class="cont_zt0 cont_textseo" name="index_description"
						value="{print config_val('index_description',$seo)/}" />
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l cont_dobt"><input type="button"
			class="cont_dod" id="dobt" value="提交"
			onclick="site_seo_set('{url 'index','mod/common/ac/admin/op/set/ao/siteseo_save'/}')" /></span>
		<div class="clr"></div>
	</div>

	<div class="clr"></div>
</div>
<!--内容结束-->

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','isajax':1}};
function site_seo_set(do_url){
	var index_title=inputval('index_title');
	var index_keywords=inputval('index_keywords');
	var index_description=inputval('index_description');
	
	var datas={'index_title':index_title,'index_keywords':index_keywords,'index_description':index_description};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':"#dobt"});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->