<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">
	<ul>
		<li>
			<div class="cont_li_p1">
				<strong>邮件发送功能:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">

					{loop yesno_val() $val}
					<p class="cont_li_p2_3">
						<input type="radio" name="status" value="{field:val.field/}" {if
							config_val('status',$es,yesno_val('check','field'))==$val[
							'field']} checked="checked" {/if} />&nbsp;{field:val.title3/}
					</p>
					{/loop}

				</div>
				<div class="cont_li_p2_2">将该功能开启，可对站点会员发送电子邮件</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>邮件发送模式:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">

					{eval $email_type_field=NULL;/} {loop
					config_value_get('email_type') $val} {eval
					$email_type_field[]=$val['field'];/}
					<p class="cont_li_p2_3">
						<input type="radio" name="types" value="{field:val.field/}" {if
							config_val('types',$es,config_value_get('email_type','smtp','field'))==$val[
							'field']} checked="checked"
							{/if} onclick="emailset_type(this.value)" />&nbsp;{field:val.title/}
					</p>
					{/loop}

				</div>
				<div class="cont_li_p2_2">选择邮件发送模式</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<!--SMTP start-->
	<ul id="smtp_item" class="c_none">
		<li class="cont_zbg"><p class="cont_tlabel">
				<strong>{print
					config_value_get('email_type','smtp','description')/}</strong>
			</p></li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>SMTP服务器:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="smtp_server"
						value="{print config_val('smtp_server',$es)/}" />
				</div>
				<div class="cont_li_p2_2">SMTP服务器</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>SMTP端口:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="smtp_port"
						value="{print config_val('smtp_port',$es,25)/}" />
				</div>
				<div class="cont_li_p2_2">默认不需修改</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>发信人地址:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="smtp_from_email"
						value="{print config_val('smtp_from_email',$es)/}" />
				</div>
				<div class="cont_li_p2_2">发信人地址</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>SMTP用户身份验证:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">

					{eval $i=0;/} {loop yesno_val() $val} {eval $i=0;/}
					<p class="cont_li_p2_3">
						<input type="radio" name="smtp_auth" value="{field:val.field/}"
							{if
							config_val('smtp_auth',$es,yesno_val('normal','field'))==$val[
							'field']} checked="checked" {/if} />&nbsp;{field:val.title3/}
					</p>
					{/loop}

				</div>
				<div class="cont_li_p2_2">如果SMTP服务器要求通过身份验证才可以发邮件，请选择"开启"</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>验证用户名:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="smtp_auth_username"
						value="{print config_val('smtp_auth_username',$es)/}" />
				</div>
				<div class="cont_li_p2_2">验证用户名</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>验证密码:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="password" class="cont_z_txt" name="smtp_auth_password"
						value="{print config_val('smtp_auth_password',$es)/}" />
				</div>
				<div class="cont_li_p2_2">
					<p class="cont_li_p2_3 color1">验证密码</p>
					<p class="cont_li_p2_3 color7">注意：防止密码泄露，系统会将您的密码自动加密</p>
				</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>
	</ul>
	<div class="clr"></div>
	<!--SMTP start-->

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="emailset_do('{url 'index','mod/common/ac/admin/op/set/ao/emailset_save'/}')" /></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var backcall_param={'callback_param':{'callFunc':'ajaxActionDialog','isajax':1}};
$(document).ready(function(){
	emailset_type("{print config_val('types',$es,config_value_get('email_type','smtp','field'))/}");
});
/*邮箱设置保存*/
function emailset_do(do_url){
	var status=getboxfirst("status");
	var types=getboxfirst("types");
	var smtp_server=inputval("smtp_server");
	var smtp_port=inputval("smtp_port");
	var smtp_from_email=inputval("smtp_from_email");
	var smtp_auth=getboxfirst("smtp_auth");
	var smtp_auth_username=inputval("smtp_auth_username");
	var smtp_auth_password=inputval("smtp_auth_password");
	
	var datas={'status':status,'types':types,'smtp_server':smtp_server,'smtp_port':smtp_port,'smtp_from_email':smtp_from_email,'smtp_auth':smtp_auth,'smtp_auth_username':smtp_auth_username,'smtp_auth_password':smtp_auth_password}
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,backcall_param),'offButton':'#dobt'});
}
function emailset_type(t){
	var tarr=("{print array_join_str(',',$email_type_field)/}").split(',');
	var html_id='';
	for(var i=0;i<tarr.length;i++){
		html_id=$("#"+tarr[i]+'_item');
		if(t==tarr[i]){
			html_id.css({'display':'block'});
		}else{
			html_id.css({'display':'none'});
		}
	}
	return false;
}
</script>

<!--{modtemplate admin/template/adm_footer}-->