<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">

	<ul>

		<li>
			<div class="cont_li_p1">
				<strong>站点名称:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="site_name"
						value="{print config_val('site_name',$sb)/}" />
				</div>
				<div class="cont_li_p2_2">站点名称，将显示在浏览器窗口标题等位置</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>网站名称:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="web_name"
						value="{print config_val('web_name',$sb)/}" />
				</div>
				<div class="cont_li_p2_2">网站名称，将显示在页面底部的联系方式处</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>网站&nbsp;URL:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="web_url"
						value="{print config_val('web_url',$sb)/}" />
				</div>
				<div class="cont_li_p2_2">网站
					URL，将作为链接显示在页面底部，例如：http://www.geshai.com</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>管理员邮箱:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="admin_email"
						value="{print config_val('admin_email',$sb)/}" />
				</div>
				<div class="cont_li_p2_2">管理员 E-mail，将作为系统发邮件的发件人地址</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>网站备案信息代码:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="text" class="cont_z_txt" name="permit_code"
						value="{print config_val('permit_code',$sb)/}" />
				</div>
				<div class="cont_li_p2_2">页面底部可以显示 ICP
					备案信息，如果网站已备案，在此输入您的网站备案信息代码，它将显示在页面底部，如果没有请留空</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="cont_dobt"><input type="button" class="cont_dod"
			id="dobt" value="提交"
			onclick="common_adm_sitebase_set('{url 'index','mod/common/ac/admin/op/set/ao/sitebase_save'/}')" /></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','isajax':1}};
/*站点信息操作*/
function common_adm_sitebase_set(do_url){
	window.top.dialogClose();
	var site_name=inputval("site_name");
	var web_name=inputval("web_name");
	var web_url=inputval("web_url");
	var admin_email=inputval("admin_email");
	var permit_code=inputval("permit_code");
	
	var datas={'site_name':site_name,'web_name':web_name,'web_url':web_url,'admin_email':admin_email,'permit_code':permit_code};
	ajaxAction({'actionUrl':do_url,'actionData':arr_merge(datas,callback_param),'offButton':'#dobt'});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->