<!--{modtemplate admin/template/adm_header}-->

<div class="main_cont">

	<!--导航开始-->
	<!--{modtemplate admin/template/menu_nav}-->
	<!--导航结束-->

	<!--内容列表开始-->
	<div class="cont_z">

		<ul>

			<li>
				<div class="cont_li_p1">
					<strong>{lang common:module}:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">{echo get_module($module,'title')}</div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>排序编号:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_listorder"
							value="{array_value 'listorder',$datacall,0}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">排序编号，用于列表排列顺序显示</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>数据调用名称:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_title"
							value="{array_value 'title',$datacall}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">该调用的名称</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>模块数据模板:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<select name="dc_dsid" class="width260px cont_sh">
							<option value="0">{lang common:qingxuanze}</option>
							<!--{dbres $datastyle_list $val}-->
							<option value="{$val['dsid']}" {if $val['dsid']==array_key_val(
								'dsid',$datacall)} selected="selected"{/if}>{$val['title']}</option>
							<!--{/dbres}-->
						</select>
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">数据要显示的模板</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>时间调用:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<select name="dc_did" class="width260px cont_sh">
							<option value="0">{lang common:qingxuanze}</option>
							<!--{loop $date_list $key $val}-->
							<option value="{$key}" {if array_key_val('did',$datacall)==$key}
								selected="selected"{/if}>{$val['title']}</option>
							<!--{/loop}-->
						</select>
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">选择调用数据的时间显示方式</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>会员头像尺寸:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						w:&nbsp;<input type="text" class="cont_zt1" name="dc_avatarwidth"
							value="{array_value 'avatarwidth',$datacall,0}" />&nbsp;×&nbsp;h:&nbsp;<input
							type="text" class="cont_zt1" name="dc_avatarheight"
							value="{array_value 'avatarheight',$datacall,0}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="color1">设置需要生成的缩略图尺寸，两个参数（w,&nbsp;h），分别代表缩略图尺寸（宽,&nbsp;高）</p>
						<p class="color1">若&nbsp;w&nbsp;或&nbsp;h&nbsp;为0时，则缩略图尺寸将不会受限制</p>
						<p class="color7">注意:&nbsp;如果缩略图尺寸（w,&nbsp;h）同时都为0时，将不会生成缩略图</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>排序方式:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<!--{eval $index=0;}-->
						<!--{loop $dc_ordertype_arr $val}-->
						<!--{eval $index++;}-->
						<span class="c_l {if $index!=1}c_ml10px{/if}"><input
							type="radio" name="dc_ordertype" value="{$val['field']}" {if
							array_key_val('ordertype',$datacall,1)==$val[
							'field']} checked="checked" {/if} />&nbsp;{$val['v_name']}</span>
						<!--{/loop}-->
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">选择数据调用显示顺序</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>是否随机显示:</strong>
				</div>
				<div class="clr"></div>

				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<!--{eval $yesno_arr=yesno_val();}-->
						<!--{eval $yesno=yesno_val('check');}-->
						<!--{eval $index=0;}-->
						<!--{loop $yesno_arr $val}-->
						<!--{eval $index++;}-->
						<span class="c_l {if $index!=1}c_ml10px{/if}"><input
							type="radio" name="dc_isrand" value="{$val['val']}" {if
							array_key_val('isrand',$datacall,$yesno)==$val[
							'val']} checked="checked"
							{/if} onclick="member_adm_datacall_isrand('{$val['val']}');" />&nbsp;{$val['title']}</span>
						<!--{/loop}-->
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">指定数据允许随机显示</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>数据起始显示行:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_startnum"
							value="{array_value 'startnum',$datacall,0}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">指定需要显示多少条数据，如果为0则不受限</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>数据显示条数:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_offsetnum"
							value="{array_value 'offsetnum',$datacall,10}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">指定需要显示多少条数据，如果为0则不受限</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>会员名字数:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_usernamelen"
							value="{array_value 'usernamelen',$datacall,0}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">指定调用返回数据的会员名允许显示的字数，如果为0则不受限</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

			<li>
				<div class="cont_li_p1">
					<strong>个性签名字数:</strong>
				</div>
				<div class="clr"></div>
				<div class="cont_li_p2">
					<div class="cont_li_p2_1">
						<input type="text" class="cont_z_txt" name="dc_informlen"
							value="{array_value 'informlen',$datacall,0}" />
					</div>
					<div class="cont_li_p2_2">
						<p class="cont_c1">指定调用返回数据的个性签名允许显示的字数，如果为0则不受限</p>
					</div>
					<div class="clr"></div>
				</div>
				<div class="clr"></div>
			</li>
			<div class="clr"></div>

		</ul>

		<div class="clr"></div>

		<div class="cont_doc">
			<span class="c_l cont_dobt"><input type="button"
				class="cont_dod" id="dobt" value="{lang common:submit}"
				onclick="member_adm_datacall_edit('{$save_url}','{$dcid}')" /></span> <span
				class="c_l c_ml10px"><input type="button" class="cont_dod"
				id="gobt" value="{lang common:goback}"
				onclick="gourl('{$callback_url}')" /></span>
			<div class="clr"></div>
		</div>

		<div class="clr"></div>
	</div>
	<!--内容列表结束-->

	<div class="clr"></div>
</div>

<script language="javascript">
$(document).ready(function(){
member_adm_datacall_isrand("{array_value 'isrand',$datacall,$yesno}");
});
/*更改是否随机显示状态*/
function member_adm_datacall_isrand(val){
	var no='{$yesno}';
	var o=$('input[name="dc_startnum"]');
	if(no!=val){
		o.css({"background-color":"#cccccc"});
		o.attr("disabled","disabled");
	}else{
		o.attr("disabled","");
		o.css({"background-color":""});
	}
}
/*数据调用操作*/
var callback_param={'callback_param':{'msg_call':'myalert','msg_call_b':'myalert','msg_call_c':'common_adm_datablock_back','msg_href':'{$callback_url}'}};
var param_back={'input_id':'input_id_0','input_dourl':'input_dourl_0'};
function member_adm_datacall_edit(do_url,dcid){
	var listorder=inputvals('dc_listorder');
	var title=inputvals('dc_title');
	
	var dsid=selectvals('dc_dsid');
	var did=selectvals('dc_did');
	
	var avatarwidth=inputvals('dc_avatarwidth');
	var avatarheight=inputvals('dc_avatarheight');
	
	var ordertype=is_check_name('dc_ordertype');
	var isrand=is_check_name('dc_isrand');
	var startnum=inputvals('dc_startnum');
	var offsetnum=inputvals('dc_offsetnum');
	var usernamelen=inputvals('dc_usernamelen');
	var informlen=inputvals('dc_informlen');
	
	/*回调参数*/
	var id=inputvals(param_back.input_id);
	var url=inputvals(param_back.input_dourl);
	dcid=(id.length<1)?dcid:id;
	do_url=(url.length<1)?do_url:url;
	
	var datas={'dcid':dcid,'listorder':listorder,'title':title,'dsid':dsid,'did':did,'avatarwidth':avatarwidth,'avatarheight':avatarheight,'ordertype':ordertype,'isrand':isrand,'startnum':startnum,'offsetnum':offsetnum,'usernamelen':usernamelen,'informlen':informlen};
	publishdo(do_url,arr_merge(datas,callback_param),'',"",["#dobt","#gobt"],param_back);
}
</script>

<!--{modtemplate admin/template/adm_footer}-->