<script language="javascript">
var _CJG={
	'domain':"{field:_G.web.domain/}",
	'rootpath':"{field:_G.web.rootpath/}",
	'staticpath':"{field:_G.web.staticpath/}",
	'weburl':"{field:_G.web.url/}",
	'sourcepath':"{field:_G.web.sourcepath/}",
	'templatepath':"{field:_G.web.templatepath/}",
	/*主框架id名*/
	'MF':"mainFrame",
	/*会话窗口参数*/
	'dialog':{
		'css':"{field:_G.web.sourcepath/}module/admin/template/css/dialog.css",
		'loadSrc':"{field:_G.web.sourcepath/}module/admin/template/image/loading.gif",
		'iframe':"",
		'iframeId':""
	},
};
</script>