<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">
	<ul>
		<li>
			<div class="cont_li_p1">
				<strong>温馨提示:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<span class="c_l c_ml5px">{print
					lang('admin:module_install',array_key_val('name',$moduleFlagData))/}</span>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>

	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="安装" onclick="adm_module_install()" /></span> <span
			class="c_l c_ml10px"><input type="button" class="cont_dod"
			id="gobt" value="返回"
			onclick="redirectUrl({'url':'{field:callback_url/}'});" /></span> <span
			class="c_l c_ml10px c_mt5px color1" id="load-msg"></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callback_url/}','isajax':1}};
var button_ids=["#dobt","#gobt"];
var _V = {
		'moduleflag':"{field:moduleFlagData.module/}",
		'submitUrl':"{url 'index','mod/admin/ac/module/op/module_installdo'/}",
		'submitLoadId':"#load-msg",
		'submitLoadMsg':'<img src="'+_CJG.sourcepath+'module/admin/template/image/loading5.gif"/>&nbsp;正在安装中...'
	};
function adm_module_install(){
	setHtmlDisplay(_V.submitLoadId);
	setHtmlData(_V.submitLoadId,_V.submitLoadMsg);
	var datas={'moduleflag':_V.moduleflag};
	ajaxAction({'actionUrl':_V.submitUrl,'actionData':arr_merge(datas,callback_param),'offButton':button_ids,'showStatusId':_V.submitLoadId,'TimeOut':86400,'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->