<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">

	<table>
		<tr class="cont_zbg">
			<td width="12%">模块目录</td>
			<td width="12%">模块名称</td>
			<td width="10%">版本号</td>
			<td width="10%">安装日期</td>
			<td width="10%">更新日期</td>
			<td width="8%">状态</td>
			<td width="38%">操作</td>
		</tr>

		{eval $mIndex=0/} {loop $mList $val} {eval $mIndex++/}
		<tr id="list_{field:val.module/}" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td width="12%">{field:val.module/}</td>
			<td width="12%">{field:val.name/}</td>
			<td width="10%">{field:val.version/}</td>
			<td width="10%">{if $val['ctime']}{datestyle
				$val['ctime'],'Y-m-d'/}{/if}</td>
			<td width="10%">{if $val['mtime']}<span class="color7">{datestyle
					$val['mtime'],'Y-m-d'/}</span>{/if}
			</td>
			<td width="8%">{if $val['iscore']==1} <span class="c_l color14">(核心)禁止</span>
				{else} {if get_module_isInstall($val['module'])} {if
				get_module_isOn($val['module'])} <span class="c_l color1">已开启</span>
				<span class="c_l c_ml2px color1">|</span> <span
				class="c_l c_ml2px c_reda"><a href="javascript:;"
					onclick="adm_module_status('{field:val.module/}','off')">关闭</a></span>
				{else} <span class="c_l c_greena"><a href="javascript:;"
					onclick="adm_module_status('{field:val.module/}','on')">开启</a></span> <span
				class="c_l c_ml2px color1">|</span> <span class="c_l c_ml2px color1">已关闭</span>
				{/if} {else} <span class="c_l color14">未安装</span> {/if} {/if}
			</td>
			<td width="38%">{if $val['iscore']==1} <span class="c_l color14">(核心)禁止</span>
				{else} {if get_module_isInstall($val['module'])} <span
				class="c_l c_reda"><a href="javascript:;"
					onclick="redirectUrl({'url':'{url 'index','mod/admin/ac/module/op/module_uninstall/moduleflag/'.$val['module']/}'})">卸载</a></span>
				{else} <span class="c_l c_greena"><a href="javascript:;"
					onclick="redirectUrl({'url':'{url 'index','mod/admin/ac/module/op/module_install/moduleflag/'.$val['module']/}'})">安装</a></span>
				{/if} {/if}
			</td>
		</tr>
		{/loop} {if $mIndex<1}
		<tr id="list_0" onmouseover="currentbg(this)"
			onmouseout="currentbg(this,1)">
			<td colspan="7" class="color6">{lang global:nodata/}</td>
		</tr>
		{/if}

		<tr class="cont_dbg">
			<td colspan="7">
				<div class="c_l">
					<!--<span class="c_l"><input type="button" class="cont_dod" id="addbt" value="添加模块" onclick="redirectUrl({'url':'{url 'index','mod/admin/ac/module/op/module_add'/}'})" /></span>-->
				</div>
				<div class="c_r c_mr5px">
					<font class="color1">共计</font>&nbsp;<font class="color6">{field:mIndex/}</font>&nbsp;<font
						class="color1">个</font>
				</div>
			</td>
		</tr>
	</table>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','url':'{field:callbackurl/}','isajax':1}};
var button_ids=["#addbt","#dobt"];
function adm_module_status(module,status){
	var dourl="{url 'index','mod/admin/ac/module/op/module_statusdo'/}";
	var msgArr={'on':str_replace('{lang admin:module_start/}','_module_',module),'off':str_replace('{lang admin:module_close/}','_module_',module)};
	datas=arr_merge({'module':module,'status':status},callback_param);
	mydialog({'data':msgArr[status],'showCancelButton':true,'okClick':'ajaxAction','okClickValue':{'actionUrl':dourl,'actionData':datas,'urlTarget':_CJG.MF}});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->