<!--{modtemplate admin/template/adm_header}-->

<div class="cont_z">
	<ul>
		<li>
			<div class="cont_li_p1">
				<strong>用户名:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">{print
					array_key_val('username',get_user())/}</div>
				<div class="cont_li_p2_2 alc">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>原密码:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="password" class="cont_z_txt" name="oldpassword"
						value="" />
				</div>
				<div class="cont_li_p2_2 alc">原密码</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>新密码:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="password" class="cont_z_txt" name="password" value="" />
				</div>
				<div class="cont_li_p2_2 alc">新{field:password_info/}</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

		<li>
			<div class="cont_li_p1">
				<strong>确认新密码:</strong>
			</div>
			<div class="clr"></div>
			<div class="cont_li_p2">
				<div class="cont_li_p2_1">
					<input type="password" class="cont_z_txt" name="password2" value="" />
				</div>
				<div class="cont_li_p2_2 alc">&nbsp;</div>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</li>
		<div class="clr"></div>

	</ul>
	<div class="clr"></div>

	<div class="cont_doc">
		<span class="c_l c_ml5px"><input type="button" class="cont_dod"
			id="dobt" value="确定修改" onclick="adm_member_password_update()" /></span>
	</div>

	<div class="clr"></div>
</div>

<script language="javascript">
var callback_param={'callback_param':{'callFunc':'ajaxActionDialog','callFunc_b':'ajaxActionDialog','isajax':1}};
function adm_member_password_update(){
	var oldpassword=inputval('oldpassword');
	var password=inputval('password');
	var password2=inputval("password2");
	
	var datas={'oldpassword':oldpassword,'password':password,'password2':password2};
	ajaxAction({'actionUrl':"{url 'index','mod/admin/ac/member/op/pwd_do'/}",'actionData':arr_merge(datas,callback_param),'offButton':"#dobt",'urlTarget':_CJG.MF});
}
</script>

<!--{modtemplate admin/template/adm_footer}-->