{eval $seo_global=seo_global_get();/}
<p class="c_mt5px c_ml5px color2 fw">提示:</p>
<p class="c_mt5px c_ml5px color1">1、网页标题通常是搜索引擎关注的重点，设置后将会显示在当前页面的标题上</p>
<p class="c_mt5px c_ml5px color1">2、Keywords项出现在页面头部的Meta标签中，用于记录当前页面的关键字</p>
<p class="c_mt5px c_ml5px color1">3、Description出现在页面头部的Meta标签中，用于记录当前页面的概要与描述</p>
<p class="c_mt5px c_ml5px color1">4、输入变量名时必需包括花括号“{}”，如果为空时系统默认设置</p>
<p class="c_mt5px c_ml5px color2">可用变量如下:</p>
{loop $seo_global $val}
<p class="c_mt5px c_ml5px color2">
	<strong class="color7">{field:val.val/}</strong>:{field:val.title/}<font
		class="color1">{field:val.description/}</font>
</p>
{/loop} {eval $seo_global=NULL/}
