@charset "utf-8";
/* Copyright 2010-2014, Jolly,Cloud,Bonejay */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; outline: none; }
table { border-collapse: collapse; border-spacing: 0; }
p { word-wrap: break-word; }
em, i { font-style: normal; }
li { list-style: none; }
img { border: 0; vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-family: "microsoft yahei", "SimHei"; font-weight: normal; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { height: 0; clear: both; overflow: hidden; }
body { color: #333; font: 14px/26px "microsoft yahei", "SimHei", "SimSun"; -webkit-text-size-adjust: 100%; }
a { text-decoration: none; color: #333; }
a:hover { color: #F00; text-decoration: none; }

/* 全局样式 */
.z { float: left; }
.y { float: right; }
.st { font-family: "segoe ui", "SimSun"; }
.yh { font-family: "microsoft yahei", "SimHei"; font-weight: normal; }
.fw { font-weight: bold; }
.fspace { letter-spacing: 1px; }
.fb { text-shadow: 3px 0 0 #0062C4, 0 1px 0 #0062C4, 0 -1px 0 #0062C4, -1px 0 0 #0062C4, 1px 0 1px #0062C4, 0 1px 1px #0062C4, 0 -1px 1px #0062C4, -1px 0 1px #0062C4; filter: Dropshadow(offx = 1, offy = 0, color = #0062C4) Dropshadow(offx = 0, offy = 1, color = #0062C4) Dropshadow(offx = 0, offy = -1, color = #0062C4) Dropshadow(offx = -1, offy = 0, color = #0062C4); }
.color { color: #0263ad; }
.rank { padding-left:20px; }

/* 管理中心 - 底部 */
.footer { width: 1000px; margin: auto; padding: 25px 0px; text-align: center; }
	.footer .pn a { color: #0263ad; text-decoration: underline; }
	.footer .pn a:hover { color: #F00; text-decoration: underline; }

/* 管理中心 - 登陆 */
.login { width: 1000px; height: 500px; margin: auto; }
	.login .ml { width: 640px; height: 500px; }
		.login .ml .d { height: 260px; margin-top: 140px; margin-left: 200px; position: relative; }
			.login .ml .d .rline { position: absolute; right: 0px; width: 1px; height: 100%; border-right: 1px solid #ECF4FF; overflow: hidden; z-index: 2; display: block; }
			.login .ml .d .tit { height: 60px; line-height: 60px; padding-top: 40px; font-size: 32px; font-weight: bold; color: #fff; }
			.login .ml .d .desc { color: #181818; }

	.login .mr { width: 320px; padding: 0px 10px; }
		.login .mr .tit { width: 100%; height: 40px; line-height: 40px; margin-top: 140px; }
			.login .mr .tit .txt { margin-left: 60px; font-size: 24px; font-weight: bold; color: #fff; display: block; }
		.login .mr .inp { width: 100%; margin-top: 10px; height: 34px; line-height: 34px; }
			.login .mr .inp .n { width: 60px; height: 34px; line-height: 34px; letter-spacing: 1px; display: block; }
			.login .mr .inp .t { width: 260px; height: 34px; line-height: 34px; display: block; }
				.login .mr .inp .t .w { width: 248px; height: 28px; line-height: 28px; padding-left: 5px; padding-right: 5px; border: 1px solid #97C4FF; outline: none; background: #fff; display: block; }
			.login .mr .inp .c { width: 120px; height: 34px; line-height: 34px; display: block; position: relative; }
				.login .mr .inp .c .gcs { position: absolute; top: 0px; left: 0px; display: block; }
				.login .mr .inp .c .ti { width: 108px; height: 28px; line-height: 28px; padding-left: 5px; padding-right: 5px; outline: none; background: #fff; border: 1px solid #97C4FF; color: #666; z-index: 1; }
				.login .mr .inp .c .gi { width: 118px; height: 30px; line-height: 30px; border: 1px solid #000; background: #fff; color: #999; text-indent: 5px; z-index: 2; }
			.login .mr .inp .ct { height: 30px; margin-left: 5px; }
				.login .mr .inp .ct img { width: 80px; height: 30px; }
			.login .mr .inp .cc { line-height:30px; margin-left: 5px; font-size: 12px; }
			.login .mr .inp .btn { width: 80px; height: 34px; line-height: 34px; display: block; }
				.login .mr .inp .btn .sb { width: 80px; height: 28px; line-height: 28px; margin-left: 60px; background: #0263ad; border: none; border-radius: 5px; outline: none; color: #fff; text-align: center; font-size: 14px; font-weight: bold; letter-spacing: 1px; cursor: pointer; display: block; }

/* 管理中心 - 头部 */
.adm-header { width: 100%; height: 60px; border-bottom: 1px solid #eee; background: #0263ad; overflow: hidden; }
	.adm-header .logo { width: 120px; height: 60px; line-height: 60px; overflow: hidden;}
		.adm-header .logo img { width: 100%; height:100%; }
	
	.adm-header .menus { height: 100%; }
		.adm-header .menus .ms { height: 30px; margin-top: 30px; overflow: hidden; }
		.adm-header .menus .is { float: left; padding: 0px 10px; font-size: 14px; font-weight: bold; cursor: pointer; }
		.adm-header .menus .is-default { height: 30px; line-height: 30px; background: url(../image/header-menus-default.jpg) repeat-x; }
		.adm-header .menus .is-hover { height: 29px; line-height: 28px; background: url(../image/header-menus-default.jpg) repeat-x; border-bottom: 1px solid #F00; }
		.adm-header .menus .is-selected { height: 30px; line-height: 30px; background: url(../image/header-menus-selected.jpg) repeat-x; }
		
	.adm-header .ops { height: 100%; padding-right: 10px; }
		.adm-header .ops .ops-a { height: 30px; font-size: 12px; }
			.adm-header .ops .ops-a .as { float:left; height: 100%; line-height: 30px; margin-left: 10px; }
				.adm-header .ops .ops-a .as-fc { padding-right: 10px; color: #fff; }
				.adm-header .ops .ops-a .as-fc .as-fc-bb {  }
				.adm-header .ops .ops-a .as-a a { color: #fff; text-decoration: none; outline: none; }
				.adm-header .ops .ops-a .as-a a:hover { color: #fff; text-decoration: none; outline: none; }
			
			.adm-header .ops .ops-a .as-a a.icon-site-home { padding-left: 18px; background: url(../image/header-site-home.png) no-repeat 0 center; }
			.adm-header .ops .ops-a .as-a a.icon-manager-home { padding-left: 18px; background: url(../image/header-manager-home.png) no-repeat 0 center; }
	
		.adm-header .ops .ops-b { float:right; height: 30px; font-size: 12px; }
			.adm-header .ops .ops-b .bs { float:left; height: 100%; line-height: 30px; margin-left: 10px; }
				.adm-header .ops .ops-b .bs-a a { color: #fff; text-decoration: none; outline: none; }
				.adm-header .ops .ops-b .bs-a a:hover { color: #fff; text-decoration: none; outline: none; }
				.adm-header .ops .ops-b .bs-a a.icon-logout { padding-left: 18px; background: url(../image/header-logout.png) no-repeat 0 center; }
				.adm-header .ops .ops-b .bs-a a.icon-lock-screen { padding-left: 18px; background: url(../image/header-lock-screen.png) no-repeat 0 center; }

/* 管理中心 - 内容 */
.adm-main { width: 100%; background: none; }
	.adm-main .ma { width: 200px; padding: 6px 0px; border-right: 1px solid #0263ad; background: url(../image/menu-area-bg.png) repeat-x 0 0; position: relative; }
		/* 加载的数据 - 子菜单 */
		.adm-main .ma .mdata { display: none; }
		/* 滚动条 */
		.adm-main .ma .scroll { position: absolute; top: 6px; right: 0px; width: 12px; background: #C9C8C5; border-radius: 50px; cursor: pointer; z-index: 2; display: none; }
		/* 子菜单 */
		.adm-main .ma .mbox { position: relative; width: 100%; overflow-y: hidden; }
			.adm-main .ma .mbox .items { position: absolute; top: 0px; left: 0px; width: 100%; }
				.adm-main .ma .mbox .items .ms { width: 100%; }
					.adm-main .ma .mbox .items .ms .is { font-size: 12px; }
						.adm-main .ma .mbox .items .ms .is .c {  }
						.adm-main .ma .mbox .items .ms .is .t { height: 24px; line-height: 24px; color: #333; }
						.adm-main .ma .mbox .items .ms .is .t-selected {  }
							.adm-main .ma .mbox .items .ms .is .t .tf { cursor: pointer; display: block; }
							.adm-main .ma .mbox .items .ms .is .t .tf-icon-plus { background: url(../image/menu-plus.gif) no-repeat 0 center; }
							.adm-main .ma .mbox .items .ms .is .t .tf-icon-minus { background: url(../image/menu-minus.gif) no-repeat 0 center; }
							.adm-main .ma .mbox .items .ms .is .t .tf-icon-point { background: url(../image/menu-point.png) no-repeat 0 center; }

							.adm-main .ma .mbox .items .ms .is .t .tf-hover { color: #0263ad; text-decoration: underline; }
							.adm-main .ma .mbox .items .ms .is .t .tf-selected {color: #F00; font-weight: bold; }
							
	.adm-main .mb { position: relative; }
		.adm-main .mb .m-pos { width: 100%; height: 24px; line-height: 24px; background: #f9f9f9; border-bottom: 1px solid #eee; font-size: 12px; }
			.adm-main .mb .m-pos .nt { padding: 0px 5px; }
			.adm-main .mb .m-pos .nn {  }
				.adm-main .mb .m-pos .nn .ns { float: left; padding: 0px 1px; }
			.adm-main .mb .m-frame { position: absolute; _position: absolute; left: 0px; top: 25px; overflow: hidden; }

/* 锁屏 */
.lockscreen_box { position:absolute; left:0px; top:0px; z-index:10000; display:none; }
	.lockscreen_box .shadow { position:absolute; left:0px; top:0px; z-index:-1; width:100%; height:100%; background:#000; filter: alpha(opacity = 90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }
	.lockscreen_box .form { position:absolute; left:38%; top:35%; z-index:1; width:340px; height:auto; background:#fff; border:6px solid #eee; border-radius:5px; }
		.lockscreen_box .form .hd { width:100%; height:34px; background:url(../image/lockscreen-header.png) repeat-x; }
			.lockscreen_box .form .hd em { line-height:34px; margin-left:10px; font-size:14px; font-weight:bold; color:#fff; }
		.lockscreen_box .form .info { padding:10px 10px 0px 10px; line-height:24px; font-size:12px; }
		.lockscreen_box .form .bd { padding:0px 10px 20px 10px; }
			.lockscreen_box .form .bd .it { float:left; width:260px; height:26px; line-height:24px; border:1px solid #999; }
			.lockscreen_box .form .bd .bt { float:left; width:50px; height:30px; line-height:30px; margin-left:5px; cursor:pointer; }

/* 表单 - 文本,按钮 - 样式 */
.fbtn-ds { margin-right: 8px; padding: 3px 8px; height: 28px; line-height: 24px; outline: none; cursor: pointer; }
.fs-ts { height: 22px; line-height: 22px; }
.fs-ts-50 { width: 48px; height: 22px; line-height: 22px; }
.fs-ts-100 { width: 98px; height: 22px; line-height: 22px; }
.fs-ts-140 { width: 138px; height: 22px; line-height: 22px; }
.fs-ts-180 { width: 178px; height: 22px; line-height: 22px; }
.fs-ts-200 { width: 198px; height: 22px; line-height: 22px; }
.fs-ts-240 { width: 238px; height: 22px; line-height: 22px; }

.fs-ts-h180 { height:180px; line-height:22px; }

.fs-tt { width:480px; height:120px; line-height:22px; }
.fs-tt2 { width:320px; height:120px; line-height:22px; }

.fs-tb, .fs-ts, .fs-ts-50, .fs-ts-100, .fs-ts-140, .fs-ts-180, .fs-ts-200 , .fs-ts-240, .fs-ts-h180, .fs-tt, .fs-tt2 { border-width: 1px; border-style: solid; border-color: #808080 #CCC #EEE #CCC; outline: none; text-indent: 2px; }

/* url 样式 */
.fa-h { height: 28px; line-height: 24px; }
.fa-cd, .fa-h { color: #444; text-decoration: none; cursor: pointer; }
.fa-cd:hover { color: #F00; text-decoration: underline; }
.fa-cc, .fa-h { color: #0263ad; text-decoration: none; cursor: pointer; }
.fa-cc:hover { color: #F00; text-decoration: underline; }
.fa-cr, .fa-h { color: #F00; text-decoration: none; cursor: pointer; }
.fa-cr:hover { color: #F00; text-decoration: underline; }
.fa-c2, .fa-h { color: #ff6600; text-decoration: none; cursor: pointer; }
.fa-c2:hover { color: #ff6600; text-decoration: underline; }


.icon-add, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/add.png) no-repeat 0 center; cursor: pointer; }
.icon-add2, .fa-h { padding-left: 12px; background: url(../image/add2.png) no-repeat 0 center; cursor: pointer; }
.icon-delete, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/delete.png) no-repeat 0 center; cursor: pointer; }
.icon-page-go, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_go.png) no-repeat 0 center; }
.icon-page-add, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_add.png) no-repeat 0 center; }
.icon-page-multi-add, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_multi_add.png) no-repeat 0 center; }
.icon-page-edit, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_edit.png) no-repeat 0 center; }
.icon-page-goback, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_goback.png) no-repeat 0 center; }
.icon-page-home, .fa-h { padding: 0px 8px 0px 17px; background: url(../image/page_home.png) no-repeat 0 center; }
.icon-status-normal { padding: 0px 8px 0px 17px; background: url(../image/status-normal.png) no-repeat 0 center; }
.icon-status-error { padding: 0px 8px 0px 17px; background: url(../image/status-error.png) no-repeat 0 center; }

.icon-checkbox { padding: 8px; background: url(../image/checkbox.png) no-repeat 0 center; cursor: pointer; }
.icon-checkboxed { padding: 8px; background: url(../image/checkbox-ed.png) no-repeat 0 center; cursor: pointer; }

.icon-radio { padding: 8px; background: url(../image/radio.png) no-repeat 0 center; cursor: pointer; }
.icon-radioed { padding: 8px; background: url(../image/radio-ed.png) no-repeat 0 center; cursor: pointer; }

.icon-pictrue-def { padding: 8px; background: url(../image/203.png) no-repeat 0 center; }
.icon-pictrue { padding: 8px; background: url(../image/200.png) no-repeat 0 center; }
.icon-rz { padding: 8px; background: url(../image/201.png) no-repeat 0 center; }
.icon-set { padding: 0px 8px 0px 17px; background: url(../image/204.png) no-repeat 0 center; }
.icon_205 { padding: 0px 8px 0px 17px; background: url(../image/icon_205.png) no-repeat 0 center; }
.icon_206 { padding: 0px 8px 0px 17px; background: url(../image/icon_206.png) no-repeat 0 center; }


.fbtn-delete, .fa-h { background: none; border: none; outline: none; cursor: pointer; color: #F00; }
.fbtn-delete:hover { color: #F00; text-decoration: underline; }

/* -- */
.vis-n { visibility:hidden; }
.dis-n { display: none; }
.pos-sp { padding:0px 5px; }

/* 背景 */
.bg-a { background: #F0F7FD; }
.bg-b { background: #f9f9f9; }
.bg-hover-a:hover { background: #F0F7FD; }

/* 字体样式 */
.tc-a { color: #0263ad; }
.tc-b { color: #999; }
.tc-c { color: #ff6600; }
.tc-d { color:#F00; }
.color100 { color:#090; }

/* a */
.ta_100 a { color: #039; text-decoration: none; }
.ta_100 a:hover { color: #F00; text-decoration: underline; }

.ta_101 a { color: #F00; text-decoration: none; }
.ta_101 a:hover { color: #F00; text-decoration: underline; }

/* margin */
.margin100 { margin-left:20px; }
.margin101 { margin-top:20px; }
.margin102 { margin-left:10px; }
.margin103 { margin-left:3px; }
.margin104 { margin-top:5px; }
.margin105 { margin-top:10px; }
.margin106 { margin-left:5px; }

/*  */
.padding100 { padding-right: 5px; }
.padding101 { padding:0px 2px; }
.padding102 { padding-right: 20px; }

/* fontsize */
.fontsize100 { font-size:12px; }

/* container */
.container { width:100%; }
.page-space-bottom { padding:15px 0px; }

.checked_box { float:left; line-height:24px; margin:5px 10px 5px 0px; padding:1px 5px; background:#f2f2f2; border:1px solid #ccc; border-radius:3px; cursor:pointer; }
.checked_on { background:#090; color:#fff; }
	.checked_box .checked_inp { float:left; width:0px; height:0px; overflow:hidden; }

/* page-inform */
.page-inform { width:100%; padding:10px 0px; font-size:12px; border-bottom:1px solid #eee; }
	.page-inform p { line-height:20px; padding-left:24px; }
	.page-inform p.txts { }
	.page-inform p.light { background:url(../image/lightbulb.png) no-repeat 5px center; font-weight:bold; }
		.page-inform p .st { color:#F00; padding-right:5px; }

/* page-tab */
.page-tab { width:100%; line-height:24px; padding:10px 0px; border-bottom:2px solid #eee; }
	.page-tab a { font-weight:bold; padding:3px 10px; }
	.page-tab a:hover { color:#fff; background:#646464; border-radius:3px; }
	.page-tab a.ml1 { margin-left:20px; }
	.page-tab a.ml2 { margin-left:8px; }
	.page-tab a.on { color:#fff; background:#646464; border-radius:3px; }

/* table 样式 */
.table-box { width: 100%; }
	.table-box table.tbox { width: 100%; }
		.table-box .tbox tr.trow-def {  }
		.table-box .tbox tr.trow-fw { font-weight: bold; }
		.table-box .tbox tr.trow-bline {  }
			.table-box .tbox tr.trow-bline td { border-bottom: 1px solid #eee; }
		.table-box .tbox tr td { padding: 5px; margin: auto; }
			.table-box .tbox tr td .ns { margin-left: 4px; font-size: 12px; }

/* ul 样式 */
.ul-box { width: 100%; }
	.ul-box ul.ubox { width: 100%; }
		.ul-box ul.ubox li.is { padding: 5px; border-bottom: 1px solid #eee; }
		.ul-box ul.ubox li.is-def { padding: 5px; }
			.ul-box ul.ubox li.is .tit { line-height: 24px; font-weight: bold; }
			.ul-box ul.ubox li.is .inp { float: left; padding-right: 50px; }
				.ul-box ul.ubox li.is .inp .ck-mr { margin-right:10px; cursor:pointer; }
			.ul-box ul.ubox li.is .des { color: #8E8E8E; }
			.ul-box ul.ubox li.is .des .ds { line-height: 24px; }
			
/* page nav 样式 */
.page-nav { width:100%; line-height:24px; text-align:right; }
	.page-nav .pn-t { margin-right:5px; color:#999; }
		.page-nav .pn-t .light { color:#F00; padding:0px 2px; }
	
	.page-nav .pn-ns a { color:#0263ad; margin:0px 2px; padding:0px 5px; border:1px solid #e7ecf0; display:inline-block; }
	.page-nav .pn-ns a:hover { border:1px solid #0263ad; color:#fff; background:#0263ad; text-decoration:none; }
	.page-nav .pn-ns em { margin:0px 2px; padding:0px 5px; display:inline-block; }
	.page-nav .pn-ns em.on { color:#F00; font-weight:bold; }
	.page-nav .pn-ns em.dis { color:#999; }
	

/* where-search 样式 */	
.where-search { padding:15px 10px; border-bottom: 1px solid #eee; }
	.where-search .w-label { float:left; }
	.where-search .w-ss { float:left; margin-left:5px; }
	.where-search .w-ml { margin-left:20px; }
	

/* usergroup menu select */
.ugmsetting_menu {  }
	.ugmsetting_menu .ugms_is { }
		.ugmsetting_menu .ugms_is_btline { padding:5px 0px; border-bottom:1px solid #eee; }
		.ugmsetting_menu .ugms_is .ugms_tit {  }
			.ugmsetting_menu .ugms_is .ugms_tit .ugms_tit_m { padding:0px 5px; cursor:pointer; }
			.ugmsetting_menu .ugms_is .ugms_tit .ugms_tit_m:hover { background:#ccc; }



	