@charset "utf-8";
/* Copyright 2010-2014, Jolly,Cloud,Bonejay */

/* 弹窗 */
.dialog-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	background: #000;
	z-index: 99998;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.dialog-wrap {
	float: left;
	z-index: 99999;
	border: 6px solid #DFDFDF;
	border-radius: 5px;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.dialog-wrap-border-opacity {
	border-color: rgba(223, 223, 223, 0.6);
}

.dialog-wrap .hd {
	height: 34px;
	line-height: 34px;
	padding: 0px 10px;
	border-bottom: 1px solid #eee;
	background: url(hd-bg.png);
	overflow: hidden;
}

.dialog-wrap .hd .tit {
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.dialog-wrap .hd .close {
	float: right;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 7px 0px 0px 20px;
	overflow: hidden;
}

.dialog-wrap .hd .close a {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(close-a.png) no-repeat center;
}

.dialog-wrap .hd .close a:hover {
	background: url(close-b.png) no-repeat center;
}

.dialog-wrap .bd {
	line-height:24px;
	padding: 10px;
	background: #fff;
	word-wrap: break-word;
	overflow-x:hidden;
	overflow-y:auto;
}

.dialog-wrap .bd .s-icon{
	margin-right:5px;
}

.dialog-wrap .fd {
	height: 39px;
	line-height: 39px;
	padding: 0px 10px;
	border-top: 1px solid #eee;
	background: #F6F6F6;
	text-align: right;
	overflow: hidden;
}

.dialog-wrap .fd .ok {
	height: 26px;
	line-height: 26px;
	padding: 0px 10px 0px 10px;
	margin: 6px 0px 0px 8px;
	border: 1px solid #8F8F8F;
	border-radius: 3px;
	background: #FCFCFC;
	cursor: pointer;
}

.dialog-wrap .fd .cancel {
	height: 26px;
	line-height: 26px;
	padding: 0px 10px 0px 10px;
	margin: 6px 0px 0px 8px;
	border: 1px solid #8F8F8F;
	border-radius: 3px;
	background: #FCFCFC;
	cursor: pointer;
}